html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}
body
	{
		background:#222222 url('/static/bg_img.jpg') repeat fixed center;
		position: relative;
		font-family: Courier New, Arial, Times New Roman, sans-serif;
        color: white;
		text-align: center;
		margin: 0% 10%;
	}
.highlight
        {
        color: red;
    }
.immo
        {
        color: blue;
        text-decoration: none;
    }
.immo:hover
        {
        text-decoration: underline;
    }
table
	{
		position: relative;
        table-layout: fixed;
		text-align: center;
        margin: auto;
	}
.left
        {
        text-align : left;
    }
table.data 
        {
        width: 270px;
    }
h1,h2,h3,h4
        {
    color: orange;
    }
.topbar
	{
		margin-top: 10px;
		position: relative;
		word-spacing: 50px;
		white-space: nowrap;
	}
.sharebar
	{
		opacity: 0.5;
		cursor: pointer;
		margin: 0px auto;
		margin-top: 15px;
		float: left;
		width: 40px;
		left: 0px;
		word-spacing: 0px;
		position: absolute;
	}
a
	{
        color: orange;
		text-decoration: none;
	}
a:hover
	{
		text-decoration: underline;
	}
td
        {
		text-align: left;
		-o-text-overflow: ellipsis;   /* Opera */
		text-overflow: ellipsis;   /* IE, Safari (WebKit) */
		overflow:hidden;              /* don't show excess chars */
		white-space:nowrap;
		text-decoration: none;
		font-size: 2;
	}
.data
        {
		text-align: left;
		-o-text-overflow: ellipsis;   /* Opera */
		text-overflow: ellipsis;   /* IE, Safari (WebKit) */
		overflow:hidden;              /* don't show excess chars */
		white-space:nowrap;
		text-decoration: none;
		font-size: 2;
	}
.error
        {
		color: purple;
	}