{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content%}
    <h2>About</h2>
    <div>
		<a href="/">ResAnalyser</a> is a web app for analysing results of <a target="_blank" href="http://www.vnit.ac.in">VNIT, Nagpur</a>.<br>
		The Site is developed & maintained by <a target="_blank" class="immo" href="https://www.facebook.com/ashishnitinpatil">Ashish Nitin Patil</a>.<br><br>
        Feel free to send any comments/feedback to <a href="https://www.facebook.com/ashishnitinpatil">me</a>.<br>
        The web app is powered by the <a href="https://developers.google.com/appengine">Google App Engine</a> platform.<br>
        It runs on <a href="http://www.python.org">Python</a> & uses the <a href="http://www.highcharts.com/products/highcharts">Highcharts</a> javascript library for producing graphs.<br>
		Feel free to <a href="https://github.com/ashishnitinpatil/resanalysersite/archive/master.zip">download</a> & use the FOSS code from my <a href="https://github.com/ashishnitinpatil/resanalysersite">Github Repo</a><br>
    </div>
{% endblock %}