{% extends "base.html" %}

{% block title %}Changelog{% endblock %}

{% block content%}
	<div class="left">
	<h2>Changelog (new)</h2>
		<ul>
			<li>Social Media Share/Like/Subscribe Buttons (via <a href="http://www.sharethis.com">ShareThis</a>)</li>
			<li>Secondary domain - <a href="https://vnitresultanalyser.appspot.com/">vnitresultanalyser.appspot.com</a></li>
			<li>We now have a <a target="_blank" href="https://www.facebook.com/vnitresanalyser">FaceBook page</a>!</li>
            <li>Much better templating</li>
            <li>Changed site footer into header</li>
            <li>Moved <a href="http://www.disqus.com">disqus</a> to front page</li>
			<li>Better CSS, specially for big lists</li>
			<li>Student raw data renders neatly</li>
			<li>Removed hardcoding, sticking to memcache</li>
        </ul>
    <h2>Changelog (old)</h2>
	<div class="left">
    <h3>New changes</h3>
        <ul>
            <li>Winter 2013 Results incorporated</li>
            <li>New, better performance stats</li>
            <li>Added commenting system from <a href="http://www.disqus.com">disqus</a></li>
        </ul>
    <h3>Bug Fixes / Code Improvements</h3>
        <ul>
            <li>Radical data format & storage changes!!</li>
            <li>Several bug fixes & code simplifications!!</li>
        </ul>
	Feel free to <a href="https://github.com/ashishnitinpatil/resanalysersite/archive/master.zip">download</a> & use the FOSS code from my <a href="https://github.com/ashishnitinpatil/resanalysersite">Github Repo</a><br>
    </div>
{% endblock %}