<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Changelog</title>
</head>
<body>
    <h2>Changelog</h2>
	<div style="text-align:left;">
    <h3>New changes</h3>
        <ul>
            <li>Winter 2013 Results incorporated</li>
            <li>New, better performance stats</li>
            <li>Added commenting system from <a href="http://www.disqus.com">disqus</a></li>
        </ul>
    <h3>Bug Fixes / Code Improvements</h3>
        <ul>
            <li>Radical data format & storage changes!!</li>
            <li>Several bug fixes & code simplifications!!</li>
        </ul>
	Feel free to <a href="https://github.com/ashishnitinpatil/resanalysersite">download</a> & use the FOSS code yourself! - <a href="https://github.com/ashishnitinpatil/resanalysersite">Github Repo</a><br/>
    </div>
    </div>
</body>
</html>