{% extends "base.html" %}

{% block title %}Course Performance Stats{% endblock %}

{% block content%}
    <h2>Course Performance Stats</h2>
    (For courses with students registered for any one sem >= 20)
	{% for raw_data in course_stats %}
    
    <h3><a href="#" onclick="toggle_visibility('{{ raw_data.0 }}');">{{ raw_data.0 }}</a></h3>
		<div id="{{ raw_data.0 }}" style="display:none;">
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		{% for data in raw_data.1 %}
            <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{{ data.2 }}</td>
            </tr>
		{% endfor %}
        </table>
		</div>
	{% endfor %}
    
    <br><br>
{% endblock %}