
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>List of all Courses</title>
</head>
<body>
    <h3>List of all Courses</h3>
    <div style="text-align:left">
    <ol>
    
    <li><a href="/courses?serial=AML151">(AML151) ENGINEERING MECHANICS</a></li>
    
    <li><a href="/courses?serial=AML169">(AML169) ENGINEERING MECHANICS</a></li>
    
    <li><a href="/courses?serial=AML262">(AML262) STRENGTH OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=AML281">(AML281) STRENGTH OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=AML361">(AML361) STRUCTURAL ANALYSIS</a></li>
    
    <li><a href="/courses?serial=AML363">(AML363) DESIGN OF STEEL STRUCTURES</a></li>
    
    <li><a href="/courses?serial=AML381">(AML381) THEORY OF STRUCTURES</a></li>
    
    <li><a href="/courses?serial=AML424">(AML424) STRUCTURAL DYNAMICS</a></li>
    
    <li><a href="/courses?serial=AML425">(AML425) ADV. DESIGN OF STEEL STRUCTURES</a></li>
    
    <li><a href="/courses?serial=AML461">(AML461) ADVANCED STRUCTURAL ANALYSIS</a></li>
    
    <li><a href="/courses?serial=AML467">(AML467) ADVANCE RCC</a></li>
    
    <li><a href="/courses?serial=AML481">(AML481) STEEL STRUCTURE</a></li>
    
    <li><a href="/courses?serial=AML482">(AML482) CONCRETE STRUCTURES</a></li>
    
    <li><a href="/courses?serial=AML483">(AML483) EARTHQUAKE RESISTANT STRUCTURES</a></li>
    
    <li><a href="/courses?serial=AMP151">(AMP151) ENGINEERING MECHANICS</a></li>
    
    <li><a href="/courses?serial=AMP262">(AMP262) STRENGTH OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=AMP361">(AMP361) STRUCTURAL ANALYSIS LAB</a></li>
    
    <li><a href="/courses?serial=AMP424">(AMP424) STRUCTURAL DYNAMICS</a></li>
    
    <li><a href="/courses?serial=ARC401">(ARC401) PRACTICAL TRAINING</a></li>
    
    <li><a href="/courses?serial=ARD401">(ARD401) PROJECT-I</a></li>
    
    <li><a href="/courses?serial=ARD402">(ARD402) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=ARL101">(ARL101) CONSTRUCTION I</a></li>
    
    <li><a href="/courses?serial=ARL102">(ARL102) HISTORY OF ARCHITECTURE I</a></li>
    
    <li><a href="/courses?serial=ARL103">(ARL103) BUILDING MATERIALS</a></li>
    
    <li><a href="/courses?serial=ARL107">(ARL107) CONSTRUCTION-II</a></li>
    
    <li><a href="/courses?serial=ARL108">(ARL108) HISTROY OF ARCHITECTURE-II</a></li>
    
    <li><a href="/courses?serial=ARL109">(ARL109) THEORY OF DESIGN-I</a></li>
    
    <li><a href="/courses?serial=ARL201">(ARL201) CONSTRUCTION - III</a></li>
    
    <li><a href="/courses?serial=ARL202">(ARL202) HISTORY OF ARCHITECTURE III</a></li>
    
    <li><a href="/courses?serial=ARL203">(ARL203) BASIC CLIMATOLOGY</a></li>
    
    <li><a href="/courses?serial=ARL206">(ARL206) CONSTRUCTION-IV</a></li>
    
    <li><a href="/courses?serial=ARL207">(ARL207) THEORY OF DESIGN-II</a></li>
    
    <li><a href="/courses?serial=ARL208">(ARL208) CLIMATE RESPONSIVE ARCHITECTURE</a></li>
    
    <li><a href="/courses?serial=ARL209">(ARL209) BUILDING SERVICES-I</a></li>
    
    <li><a href="/courses?serial=ARL211">(ARL211) CONTEMPORARY DESIGN THEORY CRITICISM</a></li>
    
    <li><a href="/courses?serial=ARL212">(ARL212) ADVANCED BUILDING MATERIALS</a></li>
    
    <li><a href="/courses?serial=ARL213">(ARL213) APPROPRIATE TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=ARL301">(ARL301) CONSTRUCTION - V</a></li>
    
    <li><a href="/courses?serial=ARL302">(ARL302) GENERAL SPECIFICATIONS</a></li>
    
    <li><a href="/courses?serial=ARL303">(ARL303) BUILDING SERVICES - II</a></li>
    
    <li><a href="/courses?serial=ARL306">(ARL306) CONSTRUCTION-VI</a></li>
    
    <li><a href="/courses?serial=ARL307">(ARL307) HISTORY OF HUMAN SETTLEMENTS</a></li>
    
    <li><a href="/courses?serial=ARL308">(ARL308) LANDSCAPE ARCHITECUTRE</a></li>
    
    <li><a href="/courses?serial=ARL312">(ARL312) BUILDING REGULATIONS</a></li>
    
    <li><a href="/courses?serial=ARL313">(ARL313) ENERGY EFFICIENT ARCHITECTURE</a></li>
    
    <li><a href="/courses?serial=ARL314">(ARL314) BARRIER FREE ARCHITECTURE</a></li>
    
    <li><a href="/courses?serial=ARL315">(ARL315) VERNACULAR ARCHITECTURE SETTLEMENTS</a></li>
    
    <li><a href="/courses?serial=ARL401">(ARL401) ADVANCED CONSTRUCTION - I</a></li>
    
    <li><a href="/courses?serial=ARL402">(ARL402) ADVANCED BUILDING SERVICES - I</a></li>
    
    <li><a href="/courses?serial=ARL403">(ARL403) PROFESSIONAL PRACTICE</a></li>
    
    <li><a href="/courses?serial=ARL404">(ARL404) URBAN COMMUNITY PLANNING</a></li>
    
    <li><a href="/courses?serial=ARL406">(ARL406) ADVANCED CONSTRUCTION-II</a></li>
    
    <li><a href="/courses?serial=ARL407">(ARL407) ADVANCED BUILDING SERVICES - II</a></li>
    
    <li><a href="/courses?serial=ARL408">(ARL408) OFFICE PRACTICES</a></li>
    
    <li><a href="/courses?serial=ARL409">(ARL409) ACOUSTICS</a></li>
    
    <li><a href="/courses?serial=ARL410">(ARL410) ILLUMINATION</a></li>
    
    <li><a href="/courses?serial=ARL413">(ARL413) CONSTRUCTION MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=ARL414">(ARL414) SUSTAINABLE ARCHITECTURE</a></li>
    
    <li><a href="/courses?serial=ARL415">(ARL415) FUNDAMENTAL OF REAL ESTATE</a></li>
    
    <li><a href="/courses?serial=ARL416">(ARL416) ARCHITECTURAL CONSERVATION</a></li>
    
    <li><a href="/courses?serial=ARL418">(ARL418) URBAN DESIGN</a></li>
    
    <li><a href="/courses?serial=ARL427">(ARL427) GRAPHICS AND BASIC DESIGN</a></li>
    
    <li><a href="/courses?serial=ARL429">(ARL429) BUILDING LEGISLATIONS</a></li>
    
    <li><a href="/courses?serial=ARL450">(ARL450) IN LARGE FIRMS</a></li>
    
    <li><a href="/courses?serial=ARP101">(ARP101) CONSTRUCTION STUDIO I</a></li>
    
    <li><a href="/courses?serial=ARP104">(ARP104) DESIGN STUDIO I</a></li>
    
    <li><a href="/courses?serial=ARP105">(ARP105) GRAPHICS STUDIO I</a></li>
    
    <li><a href="/courses?serial=ARP106">(ARP106) VISUAL ARTS STUDIO I</a></li>
    
    <li><a href="/courses?serial=ARP107">(ARP107) CONSTRUCTION STUDIO-II</a></li>
    
    <li><a href="/courses?serial=ARP109">(ARP109) DESIGN STUDIO-II</a></li>
    
    <li><a href="/courses?serial=ARP110">(ARP110) GRAPHICS STUDIO-II</a></li>
    
    <li><a href="/courses?serial=ARP111">(ARP111) VISUAL ARTS STUDIO-II</a></li>
    
    <li><a href="/courses?serial=ARP112">(ARP112) MODELLING WORKSHOP</a></li>
    
    <li><a href="/courses?serial=ARP201">(ARP201) CONSTRUCTION STUDIO - III</a></li>
    
    <li><a href="/courses?serial=ARP204">(ARP204) DESIGN STUDIO - III</a></li>
    
    <li><a href="/courses?serial=ARP205">(ARP205) GRAPHIC STUDIO III</a></li>
    
    <li><a href="/courses?serial=ARP206">(ARP206) CONSTRUCTION STUDIO-IV</a></li>
    
    <li><a href="/courses?serial=ARP207">(ARP207) DESIGN STUDIO-IV</a></li>
    
    <li><a href="/courses?serial=ARP210">(ARP210) GRAPHICS STUDIO-IV</a></li>
    
    <li><a href="/courses?serial=ARP214">(ARP214) ARCH. PHOTOGRAPHY</a></li>
    
    <li><a href="/courses?serial=ARP301">(ARP301) CONSTRUCTION STUDIO - V</a></li>
    
    <li><a href="/courses?serial=ARP304">(ARP304) DESIGN STUDIO - V</a></li>
    
    <li><a href="/courses?serial=ARP305">(ARP305) WORKING DRAWING STUDIO - I</a></li>
    
    <li><a href="/courses?serial=ARP306">(ARP306) CONSTRUCTION STUDIO-VI</a></li>
    
    <li><a href="/courses?serial=ARP309">(ARP309) DESIGN STUDIO-VI</a></li>
    
    <li><a href="/courses?serial=ARP310">(ARP310) WORKING DRAWING STUDIO-II</a></li>
    
    <li><a href="/courses?serial=ARP311">(ARP311) INTERIOR DESIGN STUDIO I</a></li>
    
    <li><a href="/courses?serial=ARP316">(ARP316) APPROPRIATE TECHNOLOGY STUDIO</a></li>
    
    <li><a href="/courses?serial=ARP401">(ARP401) ADVANCED CONSTRUCTION STUDIO - I</a></li>
    
    <li><a href="/courses?serial=ARP405">(ARP405) DESIGN STUDIO - VII</a></li>
    
    <li><a href="/courses?serial=ARP406">(ARP406) ADVANCED CONSTRUCTION STUDIO - II</a></li>
    
    <li><a href="/courses?serial=ARP411">(ARP411) DESIGN STUDIO - VIII</a></li>
    
    <li><a href="/courses?serial=ARP412">(ARP412) URBAN PLANNING DESIGN STUDIO</a></li>
    
    <li><a href="/courses?serial=ARP424">(ARP424) INTERIOR DESIGN STUDIO - II</a></li>
    
    <li><a href="/courses?serial=ARP425">(ARP425) LANDSCAPE ARCHITECTURE STUDIO</a></li>
    
    <li><a href="/courses?serial=ARP426">(ARP426) COMPUTER AIDED DESIGN</a></li>
    
    <li><a href="/courses?serial=ARP428">(ARP428) COMPUTER GRAPHICS</a></li>
    
    <li><a href="/courses?serial=CEC284">(CEC284) GEOLOGY I</a></li>
    
    <li><a href="/courses?serial=CED312">(CED312) MINI PROJECT</a></li>
    
    <li><a href="/courses?serial=CED401">(CED401) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=CED402">(CED402) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=CEL201">(CEL201) SOIL MECHANICS</a></li>
    
    <li><a href="/courses?serial=CEL202">(CEL202) HYDRAULIC ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CEL203">(CEL203) ENVIRONMENTAL ENGINEERING I</a></li>
    
    <li><a href="/courses?serial=CEL204">(CEL204) BUILDING MATERIALS AND TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=CEL205">(CEL205) BUILDING DESIGN DRAWING</a></li>
    
    <li><a href="/courses?serial=CEL206">(CEL206) ENGINEERING GEOLOGY</a></li>
    
    <li><a href="/courses?serial=CEL207">(CEL207) SURVEYING I</a></li>
    
    <li><a href="/courses?serial=CEL208">(CEL208) HYDROLOGY</a></li>
    
    <li><a href="/courses?serial=CEL283">(CEL283) SURVEYING</a></li>
    
    <li><a href="/courses?serial=CEL284">(CEL284) MINING GEOLOGY</a></li>
    
    <li><a href="/courses?serial=CEL301">(CEL301) FOUNDATION ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CEL302">(CEL302) TRANSPORTATION ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CEL303">(CEL303) ENVIRONMENTAL ENGINEERING II</a></li>
    
    <li><a href="/courses?serial=CEL304">(CEL304) CONCRETE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CEL305">(CEL305) DESIGN OF RCC STRUCTURES</a></li>
    
    <li><a href="/courses?serial=CEL306">(CEL306) SURVEYING II</a></li>
    
    <li><a href="/courses?serial=CEL307">(CEL307) PROJECT PLANNING AND MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=CEL309">(CEL309) FLUID MECHANICS</a></li>
    
    <li><a href="/courses?serial=CEL368">(CEL368) ADV. HYDRAULICS</a></li>
    
    <li><a href="/courses?serial=CEL381">(CEL381) ESTIMATING</a></li>
    
    <li><a href="/courses?serial=CEL384">(CEL384) GEOLOGY II</a></li>
    
    <li><a href="/courses?serial=CEL401">(CEL401) IRRIGATION ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CEL402">(CEL402) ESTIMATING COSTING</a></li>
    
    <li><a href="/courses?serial=CEL403">(CEL403) RURAL WATER SUPPLY SANITATION</a></li>
    
    <li><a href="/courses?serial=CEL404">(CEL404) RAILWAY, AIRPORT, PORTS &amp; HARBOR ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CEL405">(CEL405) INDUSTRIAL WASTEWATER TREATMENT, RECYCLE &amp; REUSE</a></li>
    
    <li><a href="/courses?serial=CEL409">(CEL409) QUALITY AND SAFETY IN CONSTRUCTION</a></li>
    
    <li><a href="/courses?serial=CEL412">(CEL412) SPATIAL ANALYSIS FOR RESOURES MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=CEL413">(CEL413) PRESTRESSED CONCRETE STRUCTURES</a></li>
    
    <li><a href="/courses?serial=CEL414">(CEL414) WATER DISTRIBUTION SYSTEMS</a></li>
    
    <li><a href="/courses?serial=CEL416">(CEL416) REMOTE SENSING AND GIS</a></li>
    
    <li><a href="/courses?serial=CEL417">(CEL417) DISASTER MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=CEL418">(CEL418) ENERGY CONVERSION AND ENVIRONMENT</a></li>
    
    <li><a href="/courses?serial=CEL424">(CEL424) ENVIRONMENTAL STUDIES</a></li>
    
    <li><a href="/courses?serial=CEL442">(CEL442) CONSTRUCTION PROJECT</a></li>
    
    <li><a href="/courses?serial=CEL464">(CEL464) FINANCIAL BUSINESS MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=CEL552">(CEL552) CONSTRUCTION CONTRACTS SPECIFICATION</a></li>
    
    <li><a href="/courses?serial=CEL570">(CEL570) ADVANCED TRAFFIC ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CEL575">(CEL575) GROUND IMPROVEMENT TECHNIQUE</a></li>
    
    <li><a href="/courses?serial=CEL585">(CEL585) PAVEMENT ANALYSIS DESIGN</a></li>
    
    <li><a href="/courses?serial=CEP283">(CEP283) SURVEYING</a></li>
    
    <li><a href="/courses?serial=CEP284">(CEP284) MINING GEOLOGY LAB</a></li>
    
    <li><a href="/courses?serial=CEP425">(CEP425) SEMINAR</a></li>
    
    <li><a href="/courses?serial=CHL101">(CHL101) APPLIED CHEMISTRY</a></li>
    
    <li><a href="/courses?serial=CHL214">(CHL214) ORGANIC CHEMICAL TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=CHL224">(CHL224) ENERGY FUELS AND LUBRICANTS</a></li>
    
    <li><a href="/courses?serial=CHL261">(CHL261) METALLURGY</a></li>
    
    <li><a href="/courses?serial=CHL263">(CHL263) ORGANIC CHEMISTRY AND SYNTHESIS</a></li>
    
    <li><a href="/courses?serial=CHL336">(CHL336) POLYMER ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CHL369">(CHL369) GREEN CHEMISTRY ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CHP101">(CHP101) APPLIED CHEMISTRY PRACTICAL</a></li>
    
    <li><a href="/courses?serial=CHP214">(CHP214) ORGANIC CHEMICAL TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=CHP261">(CHP261) PHYSICAL AND INORGANIC CHEMISTRY</a></li>
    
    <li><a href="/courses?serial=CHP263">(CHP263) ORGANIC CHEMISTRY AND SYNTHESIS</a></li>
    
    <li><a href="/courses?serial=CMD401">(CMD401) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=CMD451">(CMD451) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=CMD452">(CMD452) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=CMD453">(CMD453) SEMINAR AND GROUP DISCUSSION PROGRAM</a></li>
    
    <li><a href="/courses?serial=CML261">(CML261) INORGANIC CHEMICAL TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=CML262">(CML262) CHEMICAL PROCESS CALCULATIONS</a></li>
    
    <li><a href="/courses?serial=CML263">(CML263) FLUID MECHANICS</a></li>
    
    <li><a href="/courses?serial=CML264">(CML264) MECHANICAL OPERATIONS</a></li>
    
    <li><a href="/courses?serial=CML265">(CML265) CHEMICAL ENGINEERING THERMODYNAMICS</a></li>
    
    <li><a href="/courses?serial=CML299">(CML299) CHEMICAL ENGINEERS</a></li>
    
    <li><a href="/courses?serial=CML333">(CML333) POLYMER PROCESSING</a></li>
    
    <li><a href="/courses?serial=CML361">(CML361) MASS TRANSFER I</a></li>
    
    <li><a href="/courses?serial=CML362">(CML362) HEAT TRANSFER I</a></li>
    
    <li><a href="/courses?serial=CML363">(CML363) CHEMICAL PROCESS EQUIPMENT DESIGN</a></li>
    
    <li><a href="/courses?serial=CML366">(CML366) MASS TRANSFER II</a></li>
    
    <li><a href="/courses?serial=CML367">(CML367) HEAT TRANSFER II</a></li>
    
    <li><a href="/courses?serial=CML368">(CML368) CHEMICAL REACTION ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CML370">(CML370) ENVIRONMENTAL ENGINEERING I</a></li>
    
    <li><a href="/courses?serial=CML371">(CML371) CHEMICAL PROCESS MODELING AND SIMULATION</a></li>
    
    <li><a href="/courses?serial=CML374">(CML374) PETROLIUM REFINERY ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CML375">(CML375) ANALYTICAL METHODS FOR CHEMICAL ANALYSIS</a></li>
    
    <li><a href="/courses?serial=CML380">(CML380) INDUSTRIAL WASTE TREATMENT</a></li>
    
    <li><a href="/courses?serial=CML461">(CML461) TRANSPORT PHENOMENA</a></li>
    
    <li><a href="/courses?serial=CML462">(CML462) CHEMICAL REACTION ENGINEERING II</a></li>
    
    <li><a href="/courses?serial=CML463">(CML463) PROCESS CONTROL INSTRUMENTATION</a></li>
    
    <li><a href="/courses?serial=CML466">(CML466) CHEMICAL PLANT DESIGN</a></li>
    
    <li><a href="/courses?serial=CML467">(CML467) MATERIALS IN CHEMICAL INDUSTRIES</a></li>
    
    <li><a href="/courses?serial=CML468">(CML468) ORE AND MINERAL PROCESSING</a></li>
    
    <li><a href="/courses?serial=CML471">(CML471) RAILWAY, AIRPORT, PORTS &amp; HARBOR ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CML472">(CML472) ADVANCED SEPARATION PROCESS</a></li>
    
    <li><a href="/courses?serial=CML473">(CML473) SAFETY RISK ANALYSIS</a></li>
    
    <li><a href="/courses?serial=CML474">(CML474) PLANT UTILITY</a></li>
    
    <li><a href="/courses?serial=CML475">(CML475) NEW AND RENEWABLE ENERGY ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CML480">(CML480) CFD FOR CHEMICAL ENGINEERS</a></li>
    
    <li><a href="/courses?serial=CML481">(CML481) INSTRUMENTAL ANALYTICAL TECHNIQUES</a></li>
    
    <li><a href="/courses?serial=CML491">(CML491) PROJECT PLANNING AND MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=CML619">(CML619) RAILWAY, AIRPORT, PORTS &amp; HARBOR ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CML620">(CML620) MEMBRANE TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=CML621">(CML621) NANO TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=CMP264">(CMP264) FLUID MECHANICS AND MECHANICAL OPERATION-I</a></li>
    
    <li><a href="/courses?serial=CMP267">(CMP267) COMPUTER PROGRAMMING APPLICATIONS</a></li>
    
    <li><a href="/courses?serial=CMP364">(CMP364) CHEMICAL ENGINEERING DESIGN DRAWING I</a></li>
    
    <li><a href="/courses?serial=CMP365">(CMP365) FLUID MECHANICS MECHANICAL OPERATION II</a></li>
    
    <li><a href="/courses?serial=CMP366">(CMP366) MASS TRANSFER I</a></li>
    
    <li><a href="/courses?serial=CMP367">(CMP367) HEAT TRANSFER I</a></li>
    
    <li><a href="/courses?serial=CMP370">(CMP370) ENVIRONMENTAL ENGINEERING I</a></li>
    
    <li><a href="/courses?serial=CMP371">(CMP371) CHEMICAL PROCESS MODELING AND SIMULATION</a></li>
    
    <li><a href="/courses?serial=CMP462">(CMP462) CHEMICAL REACTION ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CMP463">(CMP463) PROCESS CONTROL INSTRUMENTATION</a></li>
    
    <li><a href="/courses?serial=CMP464">(CMP464) CHEMICAL ENGINEERING DESIGN DRAWING II</a></li>
    
    <li><a href="/courses?serial=CMP472">(CMP472) SEPARATION PROCESS</a></li>
    
    <li><a href="/courses?serial=CSD401">(CSD401) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=CSD402">(CSD402) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=CSL101">(CSL101) COMPUTER PROGRAMMING</a></li>
    
    <li><a href="/courses?serial=CSL202">(CSL202) DISCRETE MATHS AND GRAPH THEORY</a></li>
    
    <li><a href="/courses?serial=CSL203">(CSL203) DATA STRUCTURES AND PROGRAM DESIGN - I</a></li>
    
    <li><a href="/courses?serial=CSL204">(CSL204) CONCEPTS IN PROGRAMMING LANGUAGES</a></li>
    
    <li><a href="/courses?serial=CSL205">(CSL205) BUSINESS INFORMATION SYSTEM</a></li>
    
    <li><a href="/courses?serial=CSL206">(CSL206) MANAGEMENT INFORMATION SYSTEM</a></li>
    
    <li><a href="/courses?serial=CSL207">(CSL207) WEB TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=CSL211">(CSL211) INTRODUCTION TO OO METHODOLOGY</a></li>
    
    <li><a href="/courses?serial=CSL213">(CSL213) DATA STRUCTURE AND PROGRAM DESIGN - I</a></li>
    
    <li><a href="/courses?serial=CSL214">(CSL214) DATA STRUCTURES AND PROGRAM DESIGN - II</a></li>
    
    <li><a href="/courses?serial=CSL221">(CSL221) FUNDAMENTAL TOPICS IN COMPUTING</a></li>
    
    <li><a href="/courses?serial=CSL222">(CSL222) COMPUTER ORGANIZATION</a></li>
    
    <li><a href="/courses?serial=CSL223">(CSL223) MICROPROCESSORS BASED SYSTEMS</a></li>
    
    <li><a href="/courses?serial=CSL301">(CSL301) MICROPROCESSORS BASED SYSTEMS</a></li>
    
    <li><a href="/courses?serial=CSL302">(CSL302) COMPUTER ORGANIZATION</a></li>
    
    <li><a href="/courses?serial=CSL303">(CSL303) METHODOLOGY</a></li>
    
    <li><a href="/courses?serial=CSL304">(CSL304) NEURO FUZZY TECHNIQUES</a></li>
    
    <li><a href="/courses?serial=CSL305">(CSL305) COMPUTER GRAPHICS</a></li>
    
    <li><a href="/courses?serial=CSL306">(CSL306) SYSTEM PROGRAMMING</a></li>
    
    <li><a href="/courses?serial=CSL307">(CSL307) THEORY OF COMPUTATION</a></li>
    
    <li><a href="/courses?serial=CSL308">(CSL308) SOFTWARE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=CSL309">(CSL309) OPERATING SYSTEMS</a></li>
    
    <li><a href="/courses?serial=CSL311">(CSL311) COMPUTER ARCHITECTURE AND ORGANIZATION</a></li>
    
    <li><a href="/courses?serial=CSL312">(CSL312) CONCEPTS IN OPERATING SYSTEMS</a></li>
    
    <li><a href="/courses?serial=CSL313">(CSL313) COMPUTER NETWORKS</a></li>
    
    <li><a href="/courses?serial=CSL402">(CSL402) ANALYSIS OF ALGORITHMS</a></li>
    
    <li><a href="/courses?serial=CSL403">(CSL403) DATABASE MANAGEMENT SYSTEMS</a></li>
    
    <li><a href="/courses?serial=CSL404">(CSL404) LANGUAGE PROCESSORS</a></li>
    
    <li><a href="/courses?serial=CSL406">(CSL406) NETWORK SECURITY</a></li>
    
    <li><a href="/courses?serial=CSL407">(CSL407) DATA MINING AND DATA WEARHOUSING</a></li>
    
    <li><a href="/courses?serial=CSL408">(CSL408) TOPICS IN EMBEDDED SYSTEM</a></li>
    
    <li><a href="/courses?serial=CSL409">(CSL409) TOPICS IN DISTRIBUTED SYSTEMS</a></li>
    
    <li><a href="/courses?serial=CSL411">(CSL411) SOFTWARE PROJECT MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=CSL412">(CSL412) ARTIFICIAL INTELLIGENCE</a></li>
    
    <li><a href="/courses?serial=CSL436">(CSL436) INFORMATION RETRIEVAL</a></li>
    
    <li><a href="/courses?serial=CSL437">(CSL437) ENTERPRISE RESOURCE PLANNING</a></li>
    
    <li><a href="/courses?serial=CSL517">(CSL517) PATTERN RECOGNITION</a></li>
    
    <li><a href="/courses?serial=CSL523">(CSL523) ADVANCED COMPUTER ARCHITECTURE</a></li>
    
    <li><a href="/courses?serial=CSL530">(CSL530) TOPICS IN BIOINFORMATICS</a></li>
    
    <li><a href="/courses?serial=CSP201">(CSP201) SOFTWARE LAB I</a></li>
    
    <li><a href="/courses?serial=CSP310">(CSP310) SOFTWARE LAB I</a></li>
    
    <li><a href="/courses?serial=CSP314">(CSP314) SOFTWARE LAB II</a></li>
    
    <li><a href="/courses?serial=CSP430">(CSP430) SEMINAR</a></li>
    
    <li><a href="/courses?serial=ECD401">(ECD401) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=ECD402">(ECD402) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=ECL201">(ECL201) ELECTRONIC DEVICES</a></li>
    
    <li><a href="/courses?serial=ECL202">(ECL202) DIGITAL LOGIC DESIGN</a></li>
    
    <li><a href="/courses?serial=ECL204">(ECL204) MEASUREMENT AND INSTRUMENTATION</a></li>
    
    <li><a href="/courses?serial=ECL206">(ECL206) ELECTRONICS DEVICES AND CIRCUITS</a></li>
    
    <li><a href="/courses?serial=ECL207">(ECL207) DIGITAL CIRCUITS</a></li>
    
    <li><a href="/courses?serial=ECL208">(ECL208) ANALOG CIRCUITS</a></li>
    
    <li><a href="/courses?serial=ECL209">(ECL209) DIGITAL CIRCUITS AND LOGIC DESIGN</a></li>
    
    <li><a href="/courses?serial=ECL210">(ECL210) SIGNALS AND SYSTEMS</a></li>
    
    <li><a href="/courses?serial=ECL215">(ECL215) SIGNALS AND SYSTEMS</a></li>
    
    <li><a href="/courses?serial=ECL241">(ECL241) OVERVIEW OF COMMUNICATION SYSTEMS</a></li>
    
    <li><a href="/courses?serial=ECL242">(ECL242) SENSORS INSTRUMENTATION APPLICATIONS</a></li>
    
    <li><a href="/courses?serial=ECL301">(ECL301) ANALOG COMMUNICATION</a></li>
    
    <li><a href="/courses?serial=ECL302">(ECL302) DEVICE MODELING</a></li>
    
    <li><a href="/courses?serial=ECL303">(ECL303) DIGITAL COMMUNICATION</a></li>
    
    <li><a href="/courses?serial=ECL304">(ECL304) DIGITAL SIGNAL PROCESSING</a></li>
    
    <li><a href="/courses?serial=ECL305">(ECL305) ELECTROMAGNETIC FIELDS</a></li>
    
    <li><a href="/courses?serial=ECL306">(ECL306) MICROPROCESSORS INTERFACING</a></li>
    
    <li><a href="/courses?serial=ECL308">(ECL308) ANALOG CIRCUIT DESIGN</a></li>
    
    <li><a href="/courses?serial=ECL309">(ECL309) FINITE AUTOMATA</a></li>
    
    <li><a href="/courses?serial=ECL320">(ECL320) LINEAR ELECTRONIC CIRCUITS</a></li>
    
    <li><a href="/courses?serial=ECL321">(ECL321) MICROPROCESSORS</a></li>
    
    <li><a href="/courses?serial=ECL322">(ECL322) SIGNALS AND SYSTEMS</a></li>
    
    <li><a href="/courses?serial=ECL401">(ECL401) HARDWARE DESCRIPTION LANGUAGES</a></li>
    
    <li><a href="/courses?serial=ECL402">(ECL402) APPLICATIONS</a></li>
    
    <li><a href="/courses?serial=ECL403">(ECL403) EMBEDDED SYSTEMS</a></li>
    
    <li><a href="/courses?serial=ECL404">(ECL404) RF MICROWAVE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=ECL405">(ECL405) WAVE GUIDES AND ANTENNAS</a></li>
    
    <li><a href="/courses?serial=ECL406">(ECL406) MOBILE COMMUNICATION SYSTEMS</a></li>
    
    <li><a href="/courses?serial=ECL407">(ECL407) RADAR ENGINEERING</a></li>
    
    <li><a href="/courses?serial=ECL409">(ECL409) RADIO FREQUENCY CIRCUIT DESIGN</a></li>
    
    <li><a href="/courses?serial=ECL411">(ECL411) DIGITAL IMAGE PROCESSING</a></li>
    
    <li><a href="/courses?serial=ECL412">(ECL412) ADVANCED DIGITAL SIGNAL PROCESSING</a></li>
    
    <li><a href="/courses?serial=ECL415">(ECL415) ELECTRONIC SYSTEM DESIGN</a></li>
    
    <li><a href="/courses?serial=ECL422">(ECL422) STATISTICAL SIGNAL ANALYSIS</a></li>
    
    <li><a href="/courses?serial=ECL423">(ECL423) IMAGE ANALYSIS COMPUTER VISION</a></li>
    
    <li><a href="/courses?serial=ECL424">(ECL424) OPTICAL COMMUNICATION</a></li>
    
    <li><a href="/courses?serial=ECL427">(ECL427) BROADBAND COMMUNICATION</a></li>
    
    <li><a href="/courses?serial=ECL434">(ECL434) WIRELESS DIGITAL COMMUNICATION</a></li>
    
    <li><a href="/courses?serial=ECP201">(ECP201) ELECTRONICS DEVICES LAB</a></li>
    
    <li><a href="/courses?serial=ECP202">(ECP202) DIGITAL LOGIC DESIGN LAB</a></li>
    
    <li><a href="/courses?serial=ECP204">(ECP204) MEASUREMENT AND INSTRUMENTATION LAB</a></li>
    
    <li><a href="/courses?serial=ECP206">(ECP206) ELECTRONICS DEVICE AND CIRCIUTS LAB</a></li>
    
    <li><a href="/courses?serial=ECP207">(ECP207) DIGITAL CIRCUITS LAB</a></li>
    
    <li><a href="/courses?serial=ECP208">(ECP208) ANALOG CIRCUITS LAB</a></li>
    
    <li><a href="/courses?serial=ECP209">(ECP209) DIGITAL CIRCUITS LOGIC DESIGN LAB</a></li>
    
    <li><a href="/courses?serial=ECP301">(ECP301) ANALOG COMMUNICATION LAB</a></li>
    
    <li><a href="/courses?serial=ECP302">(ECP302) DEVICE MODELING LAB</a></li>
    
    <li><a href="/courses?serial=ECP303">(ECP303) DIGITAL COMMUNICATION LAB</a></li>
    
    <li><a href="/courses?serial=ECP304">(ECP304) DIGITAL SIGNAL PROCESSING LAB</a></li>
    
    <li><a href="/courses?serial=ECP306">(ECP306) MICROPROCESSORS INTERFACING LAB</a></li>
    
    <li><a href="/courses?serial=ECP307">(ECP307) ELECTRONIC PRODUCT ENGG. WORKSHOP</a></li>
    
    <li><a href="/courses?serial=ECP308">(ECP308) ANALOG CIRCUIT DESIGN LAB</a></li>
    
    <li><a href="/courses?serial=ECP309">(ECP309) FINITE AUTOMATA LAB</a></li>
    
    <li><a href="/courses?serial=ECP320">(ECP320) LINEAR ELECTRONIC CIRCUITS LAB</a></li>
    
    <li><a href="/courses?serial=ECP321">(ECP321) MICROPROCESSORS LAB</a></li>
    
    <li><a href="/courses?serial=ECP401">(ECP401) HARDWARE DESCRIPTION LANGUAGES LAB</a></li>
    
    <li><a href="/courses?serial=ECP402">(ECP402) APPLICATIONS LAB</a></li>
    
    <li><a href="/courses?serial=ECP403">(ECP403) EMBEDDED SYSTEMS LAB</a></li>
    
    <li><a href="/courses?serial=ECP409">(ECP409) RADIO FREQUENCY CIRCUIT DESIGN LAB</a></li>
    
    <li><a href="/courses?serial=ECP412">(ECP412) ADVANCED DIGITAL SIGNAL PROCESSING LAB</a></li>
    
    <li><a href="/courses?serial=ECP423">(ECP423) IMAGE ANALYSIS COMPUTER VISION LAB</a></li>
    
    <li><a href="/courses?serial=ECP441">(ECP441) NETWORK STANDARDS WORKSHOP</a></li>
    
    <li><a href="/courses?serial=EED301">(EED301) MINI PROJECT</a></li>
    
    <li><a href="/courses?serial=EED401">(EED401) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=EED402">(EED402) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=EEL101">(EEL101) ELECTRICAL ENGINEERING</a></li>
    
    <li><a href="/courses?serial=EEL151">(EEL151) ELECTRICAL ENGINEERING</a></li>
    
    <li><a href="/courses?serial=EEL201">(EEL201) NETWORK THEORY</a></li>
    
    <li><a href="/courses?serial=EEL202">(EEL202) SIGNALS AND SYSTEMS</a></li>
    
    <li><a href="/courses?serial=EEL203">(EEL203) ELECTRICAL MACHINE I</a></li>
    
    <li><a href="/courses?serial=EEL204">(EEL204) MEASUREMENT AND INSTRUMENTATION</a></li>
    
    <li><a href="/courses?serial=EEL206">(EEL206) ELECTROMAGNETICS</a></li>
    
    <li><a href="/courses?serial=EEL208">(EEL208) MATLAB PROGRAMMING</a></li>
    
    <li><a href="/courses?serial=EEL209">(EEL209) LINEAR NETWORK THEORY</a></li>
    
    <li><a href="/courses?serial=EEL210">(EEL210) ELECTRICAL SCIENCES</a></li>
    
    <li><a href="/courses?serial=EEL215">(EEL215) ELECTRICAL POWER UTILIZATION</a></li>
    
    <li><a href="/courses?serial=EEL269">(EEL269) SIGNALS AND SYSTEMS</a></li>
    
    <li><a href="/courses?serial=EEL271">(EEL271) ELECTRICAL MACHINE I</a></li>
    
    <li><a href="/courses?serial=EEL272">(EEL272) ENGINEERING</a></li>
    
    <li><a href="/courses?serial=EEL301">(EEL301) ELECTRICAL POWER SYSTEM I</a></li>
    
    <li><a href="/courses?serial=EEL302">(EEL302) ELECTRICAL MACHINE II</a></li>
    
    <li><a href="/courses?serial=EEL303">(EEL303) POWER ELECTRONICS</a></li>
    
    <li><a href="/courses?serial=EEL304">(EEL304) ELECTRIC DRIVES THEIR CONTROL</a></li>
    
    <li><a href="/courses?serial=EEL305">(EEL305) CONTROL SYSTEM I</a></li>
    
    <li><a href="/courses?serial=EEL307">(EEL307) ELECTRICAL MACHINE DESIGN</a></li>
    
    <li><a href="/courses?serial=EEL309">(EEL309) POWER ELECTRONICS</a></li>
    
    <li><a href="/courses?serial=EEL310">(EEL310) CONTROL SYSTEMS</a></li>
    
    <li><a href="/courses?serial=EEL311">(EEL311) CONTROL SYSTEM I</a></li>
    
    <li><a href="/courses?serial=EEL381">(EEL381) INDUSTRIAL ELECTRICAL ENGG.</a></li>
    
    <li><a href="/courses?serial=EEL401">(EEL401) ELECTRICAL POWER SYSTEM II</a></li>
    
    <li><a href="/courses?serial=EEL402">(EEL402) HIGH VOLTAGE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=EEL403">(EEL403) SWITCHGEAR AND PROTECTION</a></li>
    
    <li><a href="/courses?serial=EEL404">(EEL404) SAMPLED DATA AND DIGITAL CONTROL</a></li>
    
    <li><a href="/courses?serial=EEL405">(EEL405) POWER STATION PRACTICE</a></li>
    
    <li><a href="/courses?serial=EEL406">(EEL406) ELECTRICAL INSTALLATION DESIGN</a></li>
    
    <li><a href="/courses?serial=EEL407">(EEL407) ELECTRICAL POWER DISTRIBUTION SYSTEM</a></li>
    
    <li><a href="/courses?serial=EEL409">(EEL409) HVDC</a></li>
    
    <li><a href="/courses?serial=EEL410">(EEL410) ADVANCED CONTROL THEORY</a></li>
    
    <li><a href="/courses?serial=EEL411">(EEL411) POWER SYSTEMS</a></li>
    
    <li><a href="/courses?serial=EEL412">(EEL412) DSP APPLICATION TO POWER SYSTEM</a></li>
    
    <li><a href="/courses?serial=EEL413">(EEL413) ADVANCED ELECTRICAL DRIVES CONTROL</a></li>
    
    <li><a href="/courses?serial=EEL414">(EEL414) ELECTRONICS POWER SYSTEMS</a></li>
    
    <li><a href="/courses?serial=EEL416">(EEL416) RENEWABLE ENERGY SYSTEMS</a></li>
    
    <li><a href="/courses?serial=EEL417">(EEL417) ENERGY CONSERVATION AND AUDIT</a></li>
    
    <li><a href="/courses?serial=EEL418">(EEL418) CONTROL SYSTEM II</a></li>
    
    <li><a href="/courses?serial=EEL421">(EEL421) POWER QUALITY</a></li>
    
    <li><a href="/courses?serial=EEL471">(EEL471) POWER SYSTEMS</a></li>
    
    <li><a href="/courses?serial=EEL472">(EEL472) RENEWABLE ENERGY SYSTEMS</a></li>
    
    <li><a href="/courses?serial=EEL492">(EEL492) ADVANCED ELECTRIC DRIVES CONTROL</a></li>
    
    <li><a href="/courses?serial=EEP101">(EEP101) ELECTRICAL ENGINEERING LAB</a></li>
    
    <li><a href="/courses?serial=EEP151">(EEP151) ELECTRICAL ENGINEERING LAB</a></li>
    
    <li><a href="/courses?serial=EEP201">(EEP201) NETWORK LAB</a></li>
    
    <li><a href="/courses?serial=EEP203">(EEP203) ELECTRICAL MACHINE I LAB</a></li>
    
    <li><a href="/courses?serial=EEP204">(EEP204) MEASUREMENT AND INSTRUMENTATION LAB</a></li>
    
    <li><a href="/courses?serial=EEP207">(EEP207) ADVANCED PROGRAMMING</a></li>
    
    <li><a href="/courses?serial=EEP208">(EEP208) MATLAB PROGRAMMING LAB</a></li>
    
    <li><a href="/courses?serial=EEP271">(EEP271) ELECTRICAL MACHINE I LAB</a></li>
    
    <li><a href="/courses?serial=EEP275">(EEP275) ADVANCED PROGRAMMING LAB</a></li>
    
    <li><a href="/courses?serial=EEP276">(EEP276) MEASUREMENT AND INSTRUMENTATION</a></li>
    
    <li><a href="/courses?serial=EEP302">(EEP302) ELECTRICAL MACHINE II LAB</a></li>
    
    <li><a href="/courses?serial=EEP303">(EEP303) POWER ELECTRONICS LAB</a></li>
    
    <li><a href="/courses?serial=EEP305">(EEP305) CONTROL SYSTEM I LAB</a></li>
    
    <li><a href="/courses?serial=EEP306">(EEP306) ELECTRICAL ENGINEERING WORKSHOP LAB</a></li>
    
    <li><a href="/courses?serial=EEP309">(EEP309) POWER ELECTRONICS LAB</a></li>
    
    <li><a href="/courses?serial=EEP310">(EEP310) CONTROL SYSTEMS LAB</a></li>
    
    <li><a href="/courses?serial=EEP402">(EEP402) HIGH VOLTAGE ENGINEERING LAB</a></li>
    
    <li><a href="/courses?serial=EEP403">(EEP403) SWITCHGEAR AND PROTECTION LAB</a></li>
    
    <li><a href="/courses?serial=EEP415">(EEP415) COMPUTER APPLICATION IN ELECTRICAL ENGG.</a></li>
    
    <li><a href="/courses?serial=EEP426">(EEP426) ELECTRICAL DRIVES LAB</a></li>
    
    <li><a href="/courses?serial=HML101">(HML101) COMMUNICATION SKILLS</a></li>
    
    <li><a href="/courses?serial=HML102">(HML102) SOCIAL SCIENCE</a></li>
    
    <li><a href="/courses?serial=HML402">(HML402) PSYCHOLOGY MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=HML403">(HML403) PSYCHOLOGY HRM</a></li>
    
    <li><a href="/courses?serial=HML405">(HML405) INDUSTRIAL ECONOMICS</a></li>
    
    <li><a href="/courses?serial=HUL101">(HUL101) COMMUNICATION SKILLS</a></li>
    
    <li><a href="/courses?serial=HUL102">(HUL102) SOCIAL SCIENCE</a></li>
    
    <li><a href="/courses?serial=HUL169">(HUL169) CULTURE AND SOCIETY</a></li>
    
    <li><a href="/courses?serial=HUL179">(HUL179) COMMUNICATION SKILLS</a></li>
    
    <li><a href="/courses?serial=HUL301">(HUL301) TECHNICAL COMMUNICATION</a></li>
    
    <li><a href="/courses?serial=HUL401">(HUL401) ECONOMICS MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=HUL403">(HUL403) PSYCHOLOGY HRM</a></li>
    
    <li><a href="/courses?serial=HUL404">(HUL404) INDUSTRY AND SOCIETY</a></li>
    
    <li><a href="/courses?serial=HUL405">(HUL405) INDUSTRIAL ECONOMICS</a></li>
    
    <li><a href="/courses?serial=HUL406">(HUL406) LABOUR ECONOMICS INDUSTRIAL RELATIONS</a></li>
    
    <li><a href="/courses?serial=HUL407">(HUL407) INDIA STUDIES</a></li>
    
    <li><a href="/courses?serial=HUL408">(HUL408) TECHNICAL COMMUNICATION</a></li>
    
    <li><a href="/courses?serial=HUL409">(HUL409) PSYCHOLOGY AND ED</a></li>
    
    <li><a href="/courses?serial=HUL625">(HUL625) PSYCHOLOGY AND ED</a></li>
    
    <li><a href="/courses?serial=MAL101">(MAL101) MATHEMATICS I</a></li>
    
    <li><a href="/courses?serial=MAL102">(MAL102) MATHEMATICS II</a></li>
    
    <li><a href="/courses?serial=MAL169">(MAL169) MATHEMATICS</a></li>
    
    <li><a href="/courses?serial=MAL201">(MAL201) DIFFERENTIAL EQUATIONS</a></li>
    
    <li><a href="/courses?serial=MAL202">(MAL202) NUMERICAL ANALYSIS</a></li>
    
    <li><a href="/courses?serial=MAL205">(MAL205) NUMERICAL METHODS AND PROBABILITY THEORY</a></li>
    
    <li><a href="/courses?serial=MAL206">(MAL206) LINEAR ALGEBRA APPLICATION</a></li>
    
    <li><a href="/courses?serial=MAL404">(MAL404) PROBABILITY STATISTICS</a></li>
    
    <li><a href="/courses?serial=MCL491">(MCL491) SPACE TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=MEC101">(MEC101) ENGINEERING DRAWING</a></li>
    
    <li><a href="/courses?serial=MED401">(MED401) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=MED402">(MED402) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=MEL101">(MEL101) ENGINEERING DRAWING</a></li>
    
    <li><a href="/courses?serial=MEL201">(MEL201) THEORY OF MACHINE I</a></li>
    
    <li><a href="/courses?serial=MEL202">(MEL202) FLUID MECHANICS</a></li>
    
    <li><a href="/courses?serial=MEL203">(MEL203) ENGINEERING THERMODYNAMICS</a></li>
    
    <li><a href="/courses?serial=MEL204">(MEL204) ENGINEERING METALLURGY</a></li>
    
    <li><a href="/courses?serial=MEL206">(MEL206) SOLID MECHANICS</a></li>
    
    <li><a href="/courses?serial=MEL207">(MEL207) MANUFACTURING PROCESS I</a></li>
    
    <li><a href="/courses?serial=MEL301">(MEL301) THEORY OF MACHINE II</a></li>
    
    <li><a href="/courses?serial=MEL302">(MEL302) HEAT TRANSFER I</a></li>
    
    <li><a href="/courses?serial=MEL303">(MEL303) ENERGY CONVERSION I</a></li>
    
    <li><a href="/courses?serial=MEL304">(MEL304) MACHINE DESIGN I</a></li>
    
    <li><a href="/courses?serial=MEL305">(MEL305) MANUFACTURING PROCESS II</a></li>
    
    <li><a href="/courses?serial=MEL306">(MEL306) MACHINE DRAWING</a></li>
    
    <li><a href="/courses?serial=MEL307">(MEL307) FLUID MACHINES</a></li>
    
    <li><a href="/courses?serial=MEL308">(MEL308) ENERGY CONVERSION II</a></li>
    
    <li><a href="/courses?serial=MEL309">(MEL309) MACHINE DESIGN II</a></li>
    
    <li><a href="/courses?serial=MEL310">(MEL310) MANUFACTURING PROCESSES AUTOMATION</a></li>
    
    <li><a href="/courses?serial=MEL311">(MEL311) METROLOGY AND QUALITY ASSURANCE</a></li>
    
    <li><a href="/courses?serial=MEL401">(MEL401) CONTROL SYSTEMS</a></li>
    
    <li><a href="/courses?serial=MEL403">(MEL403) OPERATIONS RESEARCH</a></li>
    
    <li><a href="/courses?serial=MEL404">(MEL404) SUPPLY CHAIN MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=MEL405">(MEL405) OPTIMIZATION</a></li>
    
    <li><a href="/courses?serial=MEL407">(MEL407) BIO MECHANICS</a></li>
    
    <li><a href="/courses?serial=MEL408">(MEL408) SUPPLY CHAIN MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=MEL410">(MEL410) CAD</a></li>
    
    <li><a href="/courses?serial=MEL411">(MEL411) ENERGY MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=MEL412">(MEL412) AIR CONDITIONING</a></li>
    
    <li><a href="/courses?serial=MEL413">(MEL413) FRACTURE MECHANICS</a></li>
    
    <li><a href="/courses?serial=MEL414">(MEL414) TRIBOLOGY</a></li>
    
    <li><a href="/courses?serial=MEL415">(MEL415) MECHANICAL VIBRATION</a></li>
    
    <li><a href="/courses?serial=MEL416">(MEL416) INDUSTRIAL ROBOTICS</a></li>
    
    <li><a href="/courses?serial=MEL417">(MEL417) POWER PLANT ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MEL418">(MEL418) ADVANCED STRESS ANALYSIS</a></li>
    
    <li><a href="/courses?serial=MEL419">(MEL419) ENERGY MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=MEL420">(MEL420) FINITE ELEMENT METHOD</a></li>
    
    <li><a href="/courses?serial=MEL421">(MEL421) COMPUTATIONAL METHODS IN ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MEL422">(MEL422) AUTOMOBILE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MEL423">(MEL423) MEASUREMENT SIGNAL PROCESSING</a></li>
    
    <li><a href="/courses?serial=MEL424">(MEL424) INDUSTRIAL ENGG. MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=MEL425">(MEL425) RELIABILITY AND MAINTENANCE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MEL426">(MEL426) REFRIGERATION AND CRYOGENICS</a></li>
    
    <li><a href="/courses?serial=MEL428">(MEL428) MACHINE TOOL DESIGN</a></li>
    
    <li><a href="/courses?serial=MEL429">(MEL429) RENEWABLE ENERGY SOURCES</a></li>
    
    <li><a href="/courses?serial=MEL430">(MEL430) ADVANCED IC ENGINE</a></li>
    
    <li><a href="/courses?serial=MEL431">(MEL431) ADVANCED MECHANISM</a></li>
    
    <li><a href="/courses?serial=MEL432">(MEL432) COMPUTER GRAPHICS AND SOLID MODELING</a></li>
    
    <li><a href="/courses?serial=MEL435">(MEL435) CFD</a></li>
    
    <li><a href="/courses?serial=MEL436">(MEL436) MECHATRONICS</a></li>
    
    <li><a href="/courses?serial=MEL437">(MEL437) COMPOSITE MATERIALS</a></li>
    
    <li><a href="/courses?serial=MEL439">(MEL439) PRODUCT DESIGN DEVELOPMENT</a></li>
    
    <li><a href="/courses?serial=MEL440">(MEL440) ENGINEERING COSTING</a></li>
    
    <li><a href="/courses?serial=MEL442">(MEL442) COMPUTER DATABASE MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=MEL443">(MEL443) AIR POLLUTION CONTROL</a></li>
    
    <li><a href="/courses?serial=MEL444">(MEL444) SOLAR ENERGY UTILISATION</a></li>
    
    <li><a href="/courses?serial=MEL445">(MEL445) AUTOMATION IN PRODUCTION</a></li>
    
    <li><a href="/courses?serial=MEL447">(MEL447) ENGINEERING ECONOMICS</a></li>
    
    <li><a href="/courses?serial=MEL448">(MEL448) ARTIFICIAL INTELLIGENCE IN MANUFATURING</a></li>
    
    <li><a href="/courses?serial=MEL449">(MEL449) ADVANCED TURBO MACHINERY</a></li>
    
    <li><a href="/courses?serial=MEP101">(MEP101) WORKSHOP</a></li>
    
    <li><a href="/courses?serial=MEP102">(MEP102) WORKSHOP</a></li>
    
    <li><a href="/courses?serial=MEP202">(MEP202) FLUID MECHANICS LAB</a></li>
    
    <li><a href="/courses?serial=MEP204">(MEP204) ENGINEERING METALLURGY LAB</a></li>
    
    <li><a href="/courses?serial=MEP207">(MEP207) MANUFACTURING PROCESS I</a></li>
    
    <li><a href="/courses?serial=MEP301">(MEP301) THEORY OF MACHINE II</a></li>
    
    <li><a href="/courses?serial=MEP302">(MEP302) THERMAL LAB</a></li>
    
    <li><a href="/courses?serial=MEP304">(MEP304) DESIGN LAB</a></li>
    
    <li><a href="/courses?serial=MEP305">(MEP305) MANUFACTURING PROCESS II LAB</a></li>
    
    <li><a href="/courses?serial=MEP306">(MEP306) MACHINE DRAWING LAB</a></li>
    
    <li><a href="/courses?serial=MEP307">(MEP307) FLUID MACHINES</a></li>
    
    <li><a href="/courses?serial=MEP308">(MEP308) ENERGY CONVERSION II</a></li>
    
    <li><a href="/courses?serial=MEP309">(MEP309) MACHINE DESIGN II</a></li>
    
    <li><a href="/courses?serial=MEP310">(MEP310) MANUFACTURING PROCESSES AUTOMATION</a></li>
    
    <li><a href="/courses?serial=MEP311">(MEP311) METROLOGY AND QUALITY ASSURANCE LAB</a></li>
    
    <li><a href="/courses?serial=MEP403">(MEP403) OPERATION RESEARCH LAB</a></li>
    
    <li><a href="/courses?serial=MEP410">(MEP410) CAD</a></li>
    
    <li><a href="/courses?serial=MEP420">(MEP420) FINITE ELEMENT METHOD</a></li>
    
    <li><a href="/courses?serial=MEP422">(MEP422) AUTOMOBILE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MEP423">(MEP423) MEASUREMENT SIGNAL PROCESSING</a></li>
    
    <li><a href="/courses?serial=MEP426">(MEP426) REFRIGERATION AND CRYOGENICS</a></li>
    
    <li><a href="/courses?serial=MEP430">(MEP430) ADVANCED IC ENGINE</a></li>
    
    <li><a href="/courses?serial=MEP432">(MEP432) COMPUTER GRAPHICS AND SOLID MODELING</a></li>
    
    <li><a href="/courses?serial=MEP442">(MEP442) COMPUTER DATABASE MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=MEP445">(MEP445) AUTOMATION IN PRODUCTION</a></li>
    
    <li><a href="/courses?serial=MMC203">(MMC203) ENGINEERING PHYSICAL METALLURGY</a></li>
    
    <li><a href="/courses?serial=MMC205">(MMC205) TESTING OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=MMC207">(MMC207) MINERAL DRESSING</a></li>
    
    <li><a href="/courses?serial=MMD401">(MMD401) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=MMD402">(MMD402) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=MML201">(MML201) INTRODUCTION TO MATERIALS SCIENCE AND ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MML202">(MML202) POLYMERIC MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML203">(MML203) ENGINEERING PHYSICAL METALLURGY</a></li>
    
    <li><a href="/courses?serial=MML204">(MML204) TRANSPORT PHENOMENA</a></li>
    
    <li><a href="/courses?serial=MML205">(MML205) TESTING OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML206">(MML206) METALLURGICAL THERMODYNAMICS KINETICS</a></li>
    
    <li><a href="/courses?serial=MML207">(MML207) MINERAL DRESSING</a></li>
    
    <li><a href="/courses?serial=MML208">(MML208) CERAMIC REFRACTORY MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML209">(MML209) THEORY TECHNOLOGY OF HEAT TREATMENT</a></li>
    
    <li><a href="/courses?serial=MML210">(MML210) CHEMICAL CHARACTERIZATION OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML214">(MML214) THEORY TECHNOLOGY OF HEAT TREATMENT</a></li>
    
    <li><a href="/courses?serial=MML291">(MML291) MINERAL PROCESSING</a></li>
    
    <li><a href="/courses?serial=MML368">(MML368) INDUSTRIAL METALLURGY</a></li>
    
    <li><a href="/courses?serial=MML371">(MML371) MECHANICAL PROCESSING OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML372">(MML372) METALLURGY</a></li>
    
    <li><a href="/courses?serial=MML373">(MML373) FERROUS EXTRACTION METALLURGY</a></li>
    
    <li><a href="/courses?serial=MML374">(MML374) CHARACTERISATION OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML375">(MML375) STEEL MAKING TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=MML376">(MML376) INDUSTRIAL METALLURGY</a></li>
    
    <li><a href="/courses?serial=MML378">(MML378) WEAR OF ENGINEERING MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML379">(MML379) NON DESTRUCTIVE TESTING</a></li>
    
    <li><a href="/courses?serial=MML380">(MML380) PARTICULATE TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=MML381">(MML381) MET. OF NUCLEAR MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML382">(MML382) SOLIDIFICATION PROCESSING AFT</a></li>
    
    <li><a href="/courses?serial=MML383">(MML383) LIGHT METAL ALLOYS</a></li>
    
    <li><a href="/courses?serial=MML384">(MML384) ALLOY STEEL HIGH TEMP. ALLOYS</a></li>
    
    <li><a href="/courses?serial=MML385">(MML385) HYDRO ELECTRO METALLURGY</a></li>
    
    <li><a href="/courses?serial=MML387">(MML387) OPERATIONS RESEARCH TECHNIQUES</a></li>
    
    <li><a href="/courses?serial=MML391">(MML391) METAL WORKING PROCESSES</a></li>
    
    <li><a href="/courses?serial=MML397">(MML397) THEORY TECHNOLOGY OF HEAT TREATMENT</a></li>
    
    <li><a href="/courses?serial=MML420">(MML420) RURAL TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=MML422">(MML422) ANCIENT INDIAN TECHNOLOGIES AND MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML471">(MML471) STRUCTURAL METALLURGY</a></li>
    
    <li><a href="/courses?serial=MML472">(MML472) ENVIRONMENTAL DEGRADATION</a></li>
    
    <li><a href="/courses?serial=MML473">(MML473) COMPOSITE MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML474">(MML474) XRD AND SEM</a></li>
    
    <li><a href="/courses?serial=MML475">(MML475) JOINING OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML476">(MML476) PROCESS OPTIMISATION</a></li>
    
    <li><a href="/courses?serial=MML477">(MML477) SECONDARY AND SPECIAL STEEL MAKING</a></li>
    
    <li><a href="/courses?serial=MML478">(MML478) OPERATION RESEARCH TECHNIQUES</a></li>
    
    <li><a href="/courses?serial=MML479">(MML479) SELECTION OF MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML480">(MML480) FRACTURE MECHANICS</a></li>
    
    <li><a href="/courses?serial=MML481">(MML481) DEFORMATION BEHAVIOUR</a></li>
    
    <li><a href="/courses?serial=MML486">(MML486) FAILURE ANALYSIS</a></li>
    
    <li><a href="/courses?serial=MML487">(MML487) CONTINUOUS CASTING OF STEELS</a></li>
    
    <li><a href="/courses?serial=MML488">(MML488) NANO MATERIALS</a></li>
    
    <li><a href="/courses?serial=MML489">(MML489) SURFACE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MML490">(MML490) RURAL TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=MMP205">(MMP205) POLYMERIC MATERIALS LAB</a></li>
    
    <li><a href="/courses?serial=MMP206">(MMP206) TRANSPORT PHENOMENON LAB</a></li>
    
    <li><a href="/courses?serial=MMP209">(MMP209) THEORY TECHNOLOGY OF HEAT TREATMENT</a></li>
    
    <li><a href="/courses?serial=MMP371">(MMP371) MECHANICAL PROCESSING OF MATERIALS LAB</a></li>
    
    <li><a href="/courses?serial=MMP372">(MMP372) METALLURGY LAB</a></li>
    
    <li><a href="/courses?serial=MMP374">(MMP374) CHARACTERISATION OF MATERIAL LAB.</a></li>
    
    <li><a href="/courses?serial=MMP378">(MMP378) WEAR OF ENGINEERING MATERIALS LAB</a></li>
    
    <li><a href="/courses?serial=MMP382">(MMP382) SOLIDIFICATION PROCESSING AFT</a></li>
    
    <li><a href="/courses?serial=MMP383">(MMP383) LIGHT METAL ALLOYS LAB</a></li>
    
    <li><a href="/courses?serial=MMP471">(MMP471) STRUCTURAL METALLURGY LAB</a></li>
    
    <li><a href="/courses?serial=MMP472">(MMP472) ENVIRONMENTAL DEGRADATION LAB</a></li>
    
    <li><a href="/courses?serial=MMP475">(MMP475) JOINING OF MATERIALS LAB</a></li>
    
    <li><a href="/courses?serial=MNC262">(MNC262) MINE SURVEYING I</a></li>
    
    <li><a href="/courses?serial=MNC264">(MNC264) MINING MACHINERY I</a></li>
    
    <li><a href="/courses?serial=MNC265">(MNC265) MINE VENTILATION AND CLIMATE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MNC266">(MNC266) ROCK ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MNC284">(MNC284) GEOLOGY II</a></li>
    
    <li><a href="/courses?serial=MNC361">(MNC361) MINE SURVEYING II</a></li>
    
    <li><a href="/courses?serial=MNC364">(MNC364) GROUND CONTROL IN MINES</a></li>
    
    <li><a href="/courses?serial=MND401">(MND401) PROJECT PHASE I</a></li>
    
    <li><a href="/courses?serial=MND402">(MND402) PROJECT PHASE II</a></li>
    
    <li><a href="/courses?serial=MNL261">(MNL261) INTRODUCTION TO MINING TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=MNL262">(MNL262) MINE SURVEYING I</a></li>
    
    <li><a href="/courses?serial=MNL263">(MNL263) UNDERGROUND METAL MINING</a></li>
    
    <li><a href="/courses?serial=MNL264">(MNL264) MINING MACHINERY I</a></li>
    
    <li><a href="/courses?serial=MNL266">(MNL266) SURFACE MINING</a></li>
    
    <li><a href="/courses?serial=MNL267">(MNL267) UNDERGROUND COAL MINING</a></li>
    
    <li><a href="/courses?serial=MNL291">(MNL291) MECHANICAL ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MNL362">(MNL362) MINING MACHINARY II</a></li>
    
    <li><a href="/courses?serial=MNL363">(MNL363) MINE HAZARDS AND RESCUE</a></li>
    
    <li><a href="/courses?serial=MNL462">(MNL462) MINE LEGISLATION AND SAFETY</a></li>
    
    <li><a href="/courses?serial=MNL463">(MNL463) MINE MANAGEMENT</a></li>
    
    <li><a href="/courses?serial=MNL467">(MNL467) GEOSTATISTICS</a></li>
    
    <li><a href="/courses?serial=MNL469">(MNL469) MASS PRODUCTION TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=MNL470">(MNL470) MINE PLANNING</a></li>
    
    <li><a href="/courses?serial=MNL471">(MNL471) UNDERGROUND SPACE TECHNOLOGY</a></li>
    
    <li><a href="/courses?serial=MNL472">(MNL472) MINE SAFETY ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MNL473">(MNL473) MINE MANAGEMENT INFORMATION SYSTEM</a></li>
    
    <li><a href="/courses?serial=MNL475">(MNL475) CONSTRUCTION</a></li>
    
    <li><a href="/courses?serial=MNL476">(MNL476) ROCK SLOPE ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MNL480">(MNL480) SURFACE MINE ENVIRONMENT</a></li>
    
    <li><a href="/courses?serial=MNL481">(MNL481) MINE SYSTEM ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MNL482">(MNL482) ROCK EXCAVATION ENGINEERING</a></li>
    
    <li><a href="/courses?serial=MNL483">(MNL483) MINING ECONOMICS</a></li>
    
    <li><a href="/courses?serial=MNL484">(MNL484) COMPUTER APPLICATIONS IN MINING</a></li>
    
    <li><a href="/courses?serial=MNP366">(MNP366) SURVEY CAMP</a></li>
    
    <li><a href="/courses?serial=MNP373">(MNP373) MINE VISITS</a></li>
    
    <li><a href="/courses?serial=MNP462">(MNP462) TRAINING SEMINAR</a></li>
    
    <li><a href="/courses?serial=PHL101">(PHL101) PHYSICS I</a></li>
    
    <li><a href="/courses?serial=PHL201">(PHL201) PHYSICS II</a></li>
    
    <li><a href="/courses?serial=PHL202">(PHL202) INTRODUCTION TO MATERIAL SCIENCE</a></li>
    
    <li><a href="/courses?serial=PHL203">(PHL203) ELECTRONIC MATERIALS</a></li>
    
    <li><a href="/courses?serial=PHL208">(PHL208) PHYSICS OF SEMICONDUCTOR DEVICES</a></li>
    
    <li><a href="/courses?serial=PHL305">(PHL305) ELECTRICAL AND MAGNETIC MATERIALS</a></li>
    
    <li><a href="/courses?serial=PHP101">(PHP101) PHYSICS I</a></li>
    
    <li><a href="/courses?serial=PHP306">(PHP306) ELECTRICAL AND ELECTRONICS MATERIALS LAB</a></li>
    
    <ol>
    <br/>
</body>
</html>