
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Course Performance Stats</title>
</head>
<body>
    <h2>Course Performance Stats</h2>
    (For courses with students registered for the course for any one sem >= 50)
    
    <h3>Best CGs</h3>
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		
            <tr>
                <td>MEP101</td>
                <td>WORKSHOP</td>
                <td>9.71677018634</td>
            </tr>
		
            <tr>
                <td>MEP102</td>
                <td>WORKSHOP</td>
                <td>9.7090367428</td>
            </tr>
		
            <tr>
                <td>CMD453</td>
                <td>SEMINAR AND GROUP DISCUSSION PROGRAM</td>
                <td>9.6231884058</td>
            </tr>
		
            <tr>
                <td>MEP304</td>
                <td>DESIGN LAB</td>
                <td>9.53214285714</td>
            </tr>
		
            <tr>
                <td>CML473</td>
                <td>SAFETY RISK ANALYSIS</td>
                <td>9.41791044776</td>
            </tr>
		
            <tr>
                <td>CED401</td>
                <td>PROJECT PHASE I</td>
                <td>9.40449438202</td>
            </tr>
		
            <tr>
                <td>CED312</td>
                <td>MINI PROJECT</td>
                <td>9.36</td>
            </tr>
		
            <tr>
                <td>CMD452</td>
                <td>PROJECT PHASE II</td>
                <td>9.34782608696</td>
            </tr>
		
            <tr>
                <td>CMP264</td>
                <td>FLUID MECHANICS AND MECHANICAL OPERATION-I</td>
                <td>9.29437229437</td>
            </tr>
		
            <tr>
                <td>ARL408</td>
                <td>OFFICE PRACTICES</td>
                <td>9.2688172043</td>
            </tr>
		
            <tr>
                <td>EED402</td>
                <td>PROJECT PHASE II</td>
                <td>9.24210526316</td>
            </tr>
		
            <tr>
                <td>MMD402</td>
                <td>PROJECT PHASE II</td>
                <td>9.23880597015</td>
            </tr>
		
            <tr>
                <td>CMP462</td>
                <td>CHEMICAL REACTION ENGINEERING</td>
                <td>9.23841059603</td>
            </tr>
		
            <tr>
                <td>MED402</td>
                <td>PROJECT PHASE II</td>
                <td>9.23529411765</td>
            </tr>
		
            <tr>
                <td>MMP472</td>
                <td>ENVIRONMENTAL DEGRADATION LAB</td>
                <td>9.2323943662</td>
            </tr>
		
            <tr>
                <td>CMP365</td>
                <td>FLUID MECHANICS MECHANICAL OPERATION II</td>
                <td>9.21397379913</td>
            </tr>
		
            <tr>
                <td>CMP463</td>
                <td>PROCESS CONTROL INSTRUMENTATION</td>
                <td>9.21232876712</td>
            </tr>
		
            <tr>
                <td>EED401</td>
                <td>PROJECT PHASE I</td>
                <td>9.20942408377</td>
            </tr>
		
            <tr>
                <td>CED402</td>
                <td>PROJECT PHASE II</td>
                <td>9.17857142857</td>
            </tr>
		
            <tr>
                <td>CMP366</td>
                <td>MASS TRANSFER I</td>
                <td>9.16447368421</td>
            </tr>
		
        </table>
	
    
    <h3>Worst CGs</h3>
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		
            <tr>
                <td>ARP425</td>
                <td>LANDSCAPE ARCHITECTURE STUDIO</td>
                <td>5.4</td>
            </tr>
		
            <tr>
                <td>MAL205</td>
                <td>NUMERICAL METHODS AND PROBABILITY THEORY</td>
                <td>5.70008952551</td>
            </tr>
		
            <tr>
                <td>AML281</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>5.70886075949</td>
            </tr>
		
            <tr>
                <td>CSL411</td>
                <td>SOFTWARE PROJECT MANAGEMENT</td>
                <td>5.79220779221</td>
            </tr>
		
            <tr>
                <td>CSL407</td>
                <td>DATA MINING AND DATA WEARHOUSING</td>
                <td>5.84507042254</td>
            </tr>
		
            <tr>
                <td>EEL201</td>
                <td>NETWORK THEORY</td>
                <td>5.8567251462</td>
            </tr>
		
            <tr>
                <td>HUL179</td>
                <td>COMMUNICATION SKILLS</td>
                <td>5.96276595745</td>
            </tr>
		
            <tr>
                <td>CML621</td>
                <td>NANO TECHNOLOGY</td>
                <td>5.97014925373</td>
            </tr>
		
            <tr>
                <td>CSL202</td>
                <td>DISCRETE MATHS AND GRAPH THEORY</td>
                <td>5.99137931034</td>
            </tr>
		
            <tr>
                <td>AML482</td>
                <td>CONCRETE STRUCTURES</td>
                <td>6.00490196078</td>
            </tr>
		
            <tr>
                <td>PHL208</td>
                <td>PHYSICS OF SEMICONDUCTOR DEVICES</td>
                <td>6.01369863014</td>
            </tr>
		
            <tr>
                <td>HUL301</td>
                <td>TECHNICAL COMMUNICATION</td>
                <td>6.05714285714</td>
            </tr>
		
            <tr>
                <td>CEL304</td>
                <td>CONCRETE ENGINEERING</td>
                <td>6.09163346614</td>
            </tr>
		
            <tr>
                <td>EEL309</td>
                <td>POWER ELECTRONICS</td>
                <td>6.09722222222</td>
            </tr>
		
            <tr>
                <td>AML381</td>
                <td>THEORY OF STRUCTURES</td>
                <td>6.11111111111</td>
            </tr>
		
            <tr>
                <td>CSL307</td>
                <td>THEORY OF COMPUTATION</td>
                <td>6.14122137405</td>
            </tr>
		
            <tr>
                <td>ARP411</td>
                <td>DESIGN STUDIO - VIII</td>
                <td>6.1797752809</td>
            </tr>
		
            <tr>
                <td>MEL309</td>
                <td>MACHINE DESIGN II</td>
                <td>6.19526627219</td>
            </tr>
		
            <tr>
                <td>MML374</td>
                <td>CHARACTERISATION OF MATERIALS</td>
                <td>6.22302158273</td>
            </tr>
		
            <tr>
                <td>CHL261</td>
                <td>METALLURGY</td>
                <td>6.2275862069</td>
            </tr>
		
        </table>
		
	
	<h3>Most FFs (1 per student, not per attempt)</h3>
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		
            <tr>
                <td>AML151</td>
                <td>ENGINEERING MECHANICS</td>
                <td>456</td>
            </tr>
		
            <tr>
                <td>PHL101</td>
                <td>PHYSICS I</td>
                <td>403</td>
            </tr>
		
            <tr>
                <td>MAL102</td>
                <td>MATHEMATICS II</td>
                <td>435</td>
            </tr>
		
            <tr>
                <td>PHP101</td>
                <td>PHYSICS I</td>
                <td>92</td>
            </tr>
		
            <tr>
                <td>MAL101</td>
                <td>MATHEMATICS I</td>
                <td>345</td>
            </tr>
		
            <tr>
                <td>MEC101</td>
                <td>ENGINEERING DRAWING</td>
                <td>163</td>
            </tr>
		
            <tr>
                <td>MAL201</td>
                <td>DIFFERENTIAL EQUATIONS</td>
                <td>228</td>
            </tr>
		
            <tr>
                <td>EEL101</td>
                <td>ELECTRICAL ENGINEERING</td>
                <td>423</td>
            </tr>
		
            <tr>
                <td>EEP101</td>
                <td>ELECTRICAL ENGINEERING LAB</td>
                <td>23</td>
            </tr>
		
            <tr>
                <td>AMP151</td>
                <td>ENGINEERING MECHANICS</td>
                <td>18</td>
            </tr>
		
            <tr>
                <td>AML281</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>55</td>
            </tr>
		
            <tr>
                <td>AML262</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>45</td>
            </tr>
		
            <tr>
                <td>CHL101</td>
                <td>APPLIED CHEMISTRY</td>
                <td>183</td>
            </tr>
		
            <tr>
                <td>MAL205</td>
                <td>NUMERICAL METHODS AND PROBABILITY THEORY</td>
                <td>287</td>
            </tr>
		
            <tr>
                <td>CEL204</td>
                <td>BUILDING MATERIALS AND TECHNOLOGY</td>
                <td>47</td>
            </tr>
		
            <tr>
                <td>AML363</td>
                <td>DESIGN OF STEEL STRUCTURES</td>
                <td>26</td>
            </tr>
		
            <tr>
                <td>CHP101</td>
                <td>APPLIED CHEMISTRY PRACTICAL</td>
                <td>9</td>
            </tr>
		
            <tr>
                <td>HUL101</td>
                <td>COMMUNICATION SKILLS</td>
                <td>47</td>
            </tr>
		
            <tr>
                <td>CEL306</td>
                <td>SURVEYING II</td>
                <td>12</td>
            </tr>
		
            <tr>
                <td>MMC203</td>
                <td>ENGINEERING PHYSICAL METALLURGY</td>
                <td>14</td>
            </tr>
		
        </table>
	
    
    <h3>Most Ws (1 per student, not per attempt)</h3>
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		
            <tr>
                <td>AML151</td>
                <td>ENGINEERING MECHANICS</td>
                <td>56</td>
            </tr>
		
            <tr>
                <td>PHL101</td>
                <td>PHYSICS I</td>
                <td>40</td>
            </tr>
		
            <tr>
                <td>MAL102</td>
                <td>MATHEMATICS II</td>
                <td>40</td>
            </tr>
		
            <tr>
                <td>PHP101</td>
                <td>PHYSICS I</td>
                <td>35</td>
            </tr>
		
            <tr>
                <td>MAL101</td>
                <td>MATHEMATICS I</td>
                <td>34</td>
            </tr>
		
            <tr>
                <td>MEC101</td>
                <td>ENGINEERING DRAWING</td>
                <td>31</td>
            </tr>
		
            <tr>
                <td>MAL201</td>
                <td>DIFFERENTIAL EQUATIONS</td>
                <td>27</td>
            </tr>
		
            <tr>
                <td>EEL101</td>
                <td>ELECTRICAL ENGINEERING</td>
                <td>22</td>
            </tr>
		
            <tr>
                <td>EEP101</td>
                <td>ELECTRICAL ENGINEERING LAB</td>
                <td>19</td>
            </tr>
		
            <tr>
                <td>AMP151</td>
                <td>ENGINEERING MECHANICS</td>
                <td>15</td>
            </tr>
		
            <tr>
                <td>AML281</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>15</td>
            </tr>
		
            <tr>
                <td>AML262</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>15</td>
            </tr>
		
            <tr>
                <td>CHL101</td>
                <td>APPLIED CHEMISTRY</td>
                <td>15</td>
            </tr>
		
            <tr>
                <td>MAL205</td>
                <td>NUMERICAL METHODS AND PROBABILITY THEORY</td>
                <td>12</td>
            </tr>
		
            <tr>
                <td>CEL204</td>
                <td>BUILDING MATERIALS AND TECHNOLOGY</td>
                <td>11</td>
            </tr>
		
            <tr>
                <td>AML363</td>
                <td>DESIGN OF STEEL STRUCTURES</td>
                <td>8</td>
            </tr>
		
            <tr>
                <td>CHP101</td>
                <td>APPLIED CHEMISTRY PRACTICAL</td>
                <td>8</td>
            </tr>
		
            <tr>
                <td>HUL101</td>
                <td>COMMUNICATION SKILLS</td>
                <td>8</td>
            </tr>
		
            <tr>
                <td>CEL306</td>
                <td>SURVEYING II</td>
                <td>7</td>
            </tr>
		
            <tr>
                <td>MMC203</td>
                <td>ENGINEERING PHYSICAL METALLURGY</td>
                <td>6</td>
            </tr>
		
        </table>
	
    
    <h3>Most FF % /stud</h3>
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		
            <tr>
                <td>CSL302</td>
                <td>COMPUTER ORGANIZATION</td>
                <td>28.8888888889</td>
            </tr>
		
            <tr>
                <td>AML169</td>
                <td>ENGINEERING MECHANICS</td>
                <td>24.1106719368</td>
            </tr>
		
            <tr>
                <td>MAL205</td>
                <td>NUMERICAL METHODS AND PROBABILITY THEORY</td>
                <td>22.9783827062</td>
            </tr>
		
            <tr>
                <td>AML482</td>
                <td>CONCRETE STRUCTURES</td>
                <td>22.3214285714</td>
            </tr>
		
            <tr>
                <td>AML281</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>22.2672064777</td>
            </tr>
		
            <tr>
                <td>EEL201</td>
                <td>NETWORK THEORY</td>
                <td>21.7847769029</td>
            </tr>
		
            <tr>
                <td>MEL203</td>
                <td>ENGINEERING THERMODYNAMICS</td>
                <td>20.7349081365</td>
            </tr>
		
            <tr>
                <td>AML481</td>
                <td>STEEL STRUCTURE</td>
                <td>20.2614379085</td>
            </tr>
		
            <tr>
                <td>CSL202</td>
                <td>DISCRETE MATHS AND GRAPH THEORY</td>
                <td>19.7860962567</td>
            </tr>
		
            <tr>
                <td>EEL202</td>
                <td>SIGNALS AND SYSTEMS</td>
                <td>19.7132616487</td>
            </tr>
		
            <tr>
                <td>MEL303</td>
                <td>ENERGY CONVERSION I</td>
                <td>19.0812720848</td>
            </tr>
		
            <tr>
                <td>MEL301</td>
                <td>THEORY OF MACHINE II</td>
                <td>18.8612099644</td>
            </tr>
		
            <tr>
                <td>EEL151</td>
                <td>ELECTRICAL ENGINEERING</td>
                <td>18.1208053691</td>
            </tr>
		
            <tr>
                <td>AML381</td>
                <td>THEORY OF STRUCTURES</td>
                <td>17.9372197309</td>
            </tr>
		
            <tr>
                <td>EEL101</td>
                <td>ELECTRICAL ENGINEERING</td>
                <td>17.8105263158</td>
            </tr>
		
            <tr>
                <td>MEL304</td>
                <td>MACHINE DESIGN I</td>
                <td>17.667844523</td>
            </tr>
		
            <tr>
                <td>PHL208</td>
                <td>PHYSICS OF SEMICONDUCTOR DEVICES</td>
                <td>17.5757575758</td>
            </tr>
		
            <tr>
                <td>MAL201</td>
                <td>DIFFERENTIAL EQUATIONS</td>
                <td>17.2989377845</td>
            </tr>
		
            <tr>
                <td>MEL309</td>
                <td>MACHINE DESIGN II</td>
                <td>17.2222222222</td>
            </tr>
		
            <tr>
                <td>AML151</td>
                <td>ENGINEERING MECHANICS</td>
                <td>17.1299774606</td>
            </tr>
		
        </table>
	
    
    <h3>Most W % /attempt</h3>
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		
            <tr>
                <td>CEL414</td>
                <td>WATER DISTRIBUTION SYSTEMS</td>
                <td>13.1868131868</td>
            </tr>
		
            <tr>
                <td>CEL401</td>
                <td>IRRIGATION ENGINEERING</td>
                <td>7.86516853933</td>
            </tr>
		
            <tr>
                <td>CEL306</td>
                <td>SURVEYING II</td>
                <td>6.39730639731</td>
            </tr>
		
            <tr>
                <td>AML262</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>5.36130536131</td>
            </tr>
		
            <tr>
                <td>AML363</td>
                <td>DESIGN OF STEEL STRUCTURES</td>
                <td>4.69483568075</td>
            </tr>
		
            <tr>
                <td>MEL432</td>
                <td>COMPUTER GRAPHICS AND SOLID MODELING</td>
                <td>4.61538461538</td>
            </tr>
		
            <tr>
                <td>MML391</td>
                <td>METAL WORKING PROCESSES</td>
                <td>4.44444444444</td>
            </tr>
		
            <tr>
                <td>CEL204</td>
                <td>BUILDING MATERIALS AND TECHNOLOGY</td>
                <td>4.22535211268</td>
            </tr>
		
            <tr>
                <td>MEL307</td>
                <td>FLUID MACHINES</td>
                <td>4.16666666667</td>
            </tr>
		
            <tr>
                <td>MML382</td>
                <td>SOLIDIFICATION PROCESSING AFT</td>
                <td>4.0</td>
            </tr>
		
            <tr>
                <td>AML281</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>3.96825396825</td>
            </tr>
		
            <tr>
                <td>ECP307</td>
                <td>ELECTRONIC PRODUCT ENGG. WORKSHOP</td>
                <td>3.62694300518</td>
            </tr>
		
            <tr>
                <td>MEP306</td>
                <td>MACHINE DRAWING LAB</td>
                <td>3.58422939068</td>
            </tr>
		
            <tr>
                <td>CSL407</td>
                <td>DATA MINING AND DATA WEARHOUSING</td>
                <td>3.57142857143</td>
            </tr>
		
            <tr>
                <td>AML461</td>
                <td>ADVANCED STRUCTURAL ANALYSIS</td>
                <td>3.40136054422</td>
            </tr>
		
            <tr>
                <td>MMP475</td>
                <td>JOINING OF MATERIALS LAB</td>
                <td>3.33333333333</td>
            </tr>
		
            <tr>
                <td>CEL307</td>
                <td>PROJECT PLANNING AND MANAGEMENT</td>
                <td>3.20855614973</td>
            </tr>
		
            <tr>
                <td>MEP307</td>
                <td>FLUID MACHINES</td>
                <td>3.1914893617</td>
            </tr>
		
            <tr>
                <td>MML475</td>
                <td>JOINING OF MATERIALS</td>
                <td>3.1746031746</td>
            </tr>
		
            <tr>
                <td>CSL205</td>
                <td>BUSINESS INFORMATION SYSTEM</td>
                <td>2.94117647059</td>
            </tr>
		
        </table>
	
    
    <h3>Most W % /stud</h3>
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		
            <tr>
                <td>CEL414</td>
                <td>WATER DISTRIBUTION SYSTEMS</td>
                <td>6.32911392405</td>
            </tr>
		
            <tr>
                <td>AML281</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>6.07287449393</td>
            </tr>
		
            <tr>
                <td>AML363</td>
                <td>DESIGN OF STEEL STRUCTURES</td>
                <td>4.49438202247</td>
            </tr>
		
            <tr>
                <td>MML391</td>
                <td>METAL WORKING PROCESSES</td>
                <td>4.44444444444</td>
            </tr>
		
            <tr>
                <td>AML262</td>
                <td>STRENGTH OF MATERIALS</td>
                <td>4.1095890411</td>
            </tr>
		
            <tr>
                <td>CEL401</td>
                <td>IRRIGATION ENGINEERING</td>
                <td>3.48837209302</td>
            </tr>
		
            <tr>
                <td>CEL204</td>
                <td>BUILDING MATERIALS AND TECHNOLOGY</td>
                <td>3.00546448087</td>
            </tr>
		
            <tr>
                <td>CEL409</td>
                <td>QUALITY AND SAFETY IN CONSTRUCTION</td>
                <td>2.85714285714</td>
            </tr>
		
            <tr>
                <td>CEL306</td>
                <td>SURVEYING II</td>
                <td>2.59259259259</td>
            </tr>
		
            <tr>
                <td>MMC203</td>
                <td>ENGINEERING PHYSICAL METALLURGY</td>
                <td>2.47933884298</td>
            </tr>
		
            <tr>
                <td>AML151</td>
                <td>ENGINEERING MECHANICS</td>
                <td>2.10368144252</td>
            </tr>
		
            <tr>
                <td>MML382</td>
                <td>SOLIDIFICATION PROCESSING AFT</td>
                <td>2.06896551724</td>
            </tr>
		
            <tr>
                <td>MAL201</td>
                <td>DIFFERENTIAL EQUATIONS</td>
                <td>2.04855842185</td>
            </tr>
		
            <tr>
                <td>MEL412</td>
                <td>AIR CONDITIONING</td>
                <td>1.8691588785</td>
            </tr>
		
            <tr>
                <td>CEL417</td>
                <td>DISASTER MANAGEMENT</td>
                <td>1.84049079755</td>
            </tr>
		
            <tr>
                <td>MEL421</td>
                <td>COMPUTATIONAL METHODS IN ENGINEERING</td>
                <td>1.76991150442</td>
            </tr>
		
            <tr>
                <td>CEL307</td>
                <td>PROJECT PLANNING AND MANAGEMENT</td>
                <td>1.68539325843</td>
            </tr>
		
            <tr>
                <td>MEL307</td>
                <td>FLUID MACHINES</td>
                <td>1.67597765363</td>
            </tr>
		
            <tr>
                <td>EEL311</td>
                <td>CONTROL SYSTEM I</td>
                <td>1.66666666667</td>
            </tr>
		
            <tr>
                <td>MEP307</td>
                <td>FLUID MACHINES</td>
                <td>1.6393442623</td>
            </tr>
		
        </table>
	
    
    <h3>Most FF % /attempt</h3>
        <table>
        <tr><th>Serial</th><th>Course Name</th><th>% / No.s</th></tr>
		
            <tr>
                <td>CSL211</td>
                <td>INTRODUCTION TO OO METHODOLOGY</td>
                <td>69.7916666667</td>
            </tr>
		
            <tr>
                <td>EEL151</td>
                <td>ELECTRICAL ENGINEERING</td>
                <td>61.5384615385</td>
            </tr>
		
            <tr>
                <td>CSL302</td>
                <td>COMPUTER ORGANIZATION</td>
                <td>61.1538461538</td>
            </tr>
		
            <tr>
                <td>CSL202</td>
                <td>DISCRETE MATHS AND GRAPH THEORY</td>
                <td>53.6734693878</td>
            </tr>
		
            <tr>
                <td>MAL205</td>
                <td>NUMERICAL METHODS AND PROBABILITY THEORY</td>
                <td>45.1573849879</td>
            </tr>
		
            <tr>
                <td>PHL201</td>
                <td>PHYSICS II</td>
                <td>45.1162790698</td>
            </tr>
		
            <tr>
                <td>MML205</td>
                <td>TESTING OF MATERIALS</td>
                <td>43.5897435897</td>
            </tr>
		
            <tr>
                <td>MAL102</td>
                <td>MATHEMATICS II</td>
                <td>41.0549818588</td>
            </tr>
		
            <tr>
                <td>MAL201</td>
                <td>DIFFERENTIAL EQUATIONS</td>
                <td>40.7429598562</td>
            </tr>
		
            <tr>
                <td>MEL203</td>
                <td>ENGINEERING THERMODYNAMICS</td>
                <td>39.8747390397</td>
            </tr>
		
            <tr>
                <td>CSL407</td>
                <td>DATA MINING AND DATA WEARHOUSING</td>
                <td>39.2857142857</td>
            </tr>
		
            <tr>
                <td>MEL309</td>
                <td>MACHINE DESIGN II</td>
                <td>39.2857142857</td>
            </tr>
		
            <tr>
                <td>ECL306</td>
                <td>MICROPROCESSORS INTERFACING</td>
                <td>39.1666666667</td>
            </tr>
		
            <tr>
                <td>CSL309</td>
                <td>OPERATING SYSTEMS</td>
                <td>38.679245283</td>
            </tr>
		
            <tr>
                <td>EEL202</td>
                <td>SIGNALS AND SYSTEMS</td>
                <td>38.1215469613</td>
            </tr>
		
            <tr>
                <td>CSL301</td>
                <td>MICROPROCESSORS BASED SYSTEMS</td>
                <td>37.619047619</td>
            </tr>
		
            <tr>
                <td>MEL303</td>
                <td>ENERGY CONVERSION I</td>
                <td>37.3961218837</td>
            </tr>
		
            <tr>
                <td>CSL204</td>
                <td>CONCEPTS IN PROGRAMMING LANGUAGES</td>
                <td>37.1165644172</td>
            </tr>
		
            <tr>
                <td>MEL202</td>
                <td>FLUID MECHANICS</td>
                <td>35.9195402299</td>
            </tr>
		
            <tr>
                <td>CSL313</td>
                <td>COMPUTER NETWORKS</td>
                <td>35.8974358974</td>
            </tr>
		
        </table>
	
    
    <br/><br/>
</body>
</html>