<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Course Analysis</title>
    {% if not data %}		
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript">
		$(function () {
				$('#container').highcharts({
					chart: {
						type: 'column'
					},
					title: {
						text: '{{ course|safe }}'
					},
					xAxis: {
						categories: {{ terms|safe }}
					},
					yAxis: {
						min: 0,
						title: {
							text: 'Performance {% if percent %}(%){% else %}(No.s){% endif %}'
						}
					},
					tooltip: {
						headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
						pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
							'<td style="padding:0"><b>{point.y:.0f}{% if percent %} %{% else %} No.s{% endif %}</b></td></tr>',
						footerFormat: '</table>',
						shared: true,
						useHTML: true
					},
					plotOptions: {
						column: {
							pointPadding: 0.2,
							borderWidth: 0
						}
					},
					series: [ {% for each in series %}
								{   name: '{{each.name}}',
									data: {{each.data}}
										   
								},
							  {% endfor %} 
					]
				});
			});
		</script>
</head>
<body>
        <script src="/static/js/highcharts.js"></script>
        <script src="/static/js/modules/exporting.js"></script>

        <div id="container" style="min-width: 400px; width:100%; height: 400px; margin: 0 auto"></div>
        {% if exclude_re %}
            {% if percent %}
            <br/><a href="/courses?serial={{serial|safe}}&exclude_re=1&percent=0">View No.s</a>
            <br/><a href="/courses?serial={{serial|safe}}&exclude_re=0&percent=1">Include Re-Exam Data</a>
            {% else %}
            <br/><a href="/courses?serial={{serial|safe}}&exclude_re=1&percent=1">View Percentages</a>
            <br/><a href="/courses?serial={{serial|safe}}&exclude_re=0&percent=0">Include Re-Exam Data</a>
            {% endif %}
        {% else %}
            {% if percent %}
            <br/><a href="/courses?serial={{serial|safe}}&exclude_re=0&percent=0">View No.s</a>
            <br/><a href="/courses?serial={{serial|safe}}&exclude_re=1&percent=1">Exclude Re-Exam Data</a>
            {% else %}
            <br/><a href="/courses?serial={{serial|safe}}&exclude_re=0&percent=1">View Percentages</a>
            <br/><a href="/courses?serial={{serial|safe}}&exclude_re=1&percent=0">Exclude Re-Exam Data</a>
            {% endif %}
        {% endif %}
        <br/><br/><a href="/courses?serial={{serial|safe}}&q=data">Click here</a> to view the data associated.
    {% else %}
</head>
<body>
            <h3>Course Analysis</h3>
            <a href="/courses?serial={{serial}}">Click here</a> to view the graph.
            {% for term,term_data in data.Records.items %}
            <br/><hr><b>{{ term }}</b><hr>
            <table class="data">
            {% for roll,grade in term_data.items %}
            <tr>
            <td>{{ roll }}</td><td>{{ grade }}</td>
            {% endfor %}
            </tr>
            </table>
            {% endfor %}
    {% endif %}
    <br/>
</body>
</html>