{% extends "base.html" %}

{% block title %}Result Analyser{% endblock %}

{% block content%}
    <div>
    <h2>ResAnalyser (<a target="_blank" href="/changelog">Re-Exam Winter 2013</a>)</h2>
	<span class='st_fblike_hcount' displayText='Facebook Like'></span>
	<span class='st_fbsub_hcount' displayText='Facebook Subscribe' st_username='vnitresanalyser'></span>
	<span class='st_facebook_hcount' displayText='Facebook'></span>
	<span class='st_twitter_hcount' displayText='Tweet'></span>
	<span class='st_plusone_hcount' displayText='Google +1'></span><hr>
    <a href="/">ResAnalyser</a> is a web app for analysing results of <a target="_blank" href="http://www.vnit.ac.in">VNIT, Nagpur</a>.<br>
    The Site is developed & maintained by <a target="_blank" class="immo" href="https://about.me/ashishnitinpatil">Ashish Nitin Patil</a>.<br>
	Primary domain - <a href="https://vnitresanalyser.appspot.com/">vnitresanalyser.appspot.com</a><br><br>
    Added PhD, MSc & all other result data. No time to prettify it though.<br><br>
	Available Analytics<br>
		<a href="/student">Student Records</a><br>
		<a href="/courses">Course Statistics</a><br><br>
    Available Stats<br>
        <a href="/courseperf">Course-wise Performance</a><br>
        <a href="/performance">Grade-wise Performance</a><br>
        <a href="/stats">Grade-wise Statistics</a><br><br>
    Other useful web apps by me...<br>
        <a href="http://vnitstudentnotifications.appspot.com/">Student Notifications</a><br>
		<a href="http://vnitlostnfound.appspot.com/">Lost n Found Portal</a><br>
        <a href="http://vnittimetable.appspot.com/">Time Table Generator</a><br>
    </div>
	<br>Found bugs? Have feedback? Want more Analytics?
	<br>Please share your thoughts & elaborate as much as you can.
	<hr>
	<!--Disqus Begin-->
	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'vnitresanalyser'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	<!--Disqus End-->
{% endblock %}