<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Result Analyser</title>
</head>
<body>
    <div class="center">
    <h2>ResAnalyser <a target="_blank" href="/changelog">(Updated - Winter 2013)</a></h2><hr>
    <a href="/">ResAnalyser</a> is a web app for analysing results of <a target="_blank" href="http://www.vnit.ac.in">VNIT, Nagpur</a>.<br/>
    The Site is developed & maintained by <a target="_blank" class="immo" href="https://www.facebook.com/ashishnitinpatil">Ashish Nitin Patil</a>.<br/><br/>
    Available Stats<br/>
        <a target="_blank" href="/courseperf">Course-wise Performance</a><br/>
        <a target="_blank" href="/performance">Grade-wise Performance</a><br/>
        <a target="_blank" href="/stats">Grade-wise Statistics</a><br/><br/>
	Available Analytics<br/>
		<a target="_blank" href="/student">Student Records</a><br/>
		<a target="_blank" href="/courses">Course Statistics</a><br/><br/>
	**<a target="_blank" href="/comments">Vote/Request more analytics/features</a>**<br/><br/>
        More from !mmorta! ...<br/>
		<a href="http://vnitlostnfound.appspot.com/">Lost n Found Portal</a><br/>
        <a href="http://vnittimetable.appspot.com/">Time Table Generator</a><br/>
        <a href="http://vnitstudentnotifications.appspot.com/">Student Notifications Checker</a><br/><br/>
        For feedback, <a target="_blank" class="immo" href="https://www.facebook.com/ashishnitinpatil">contact me</a> !!<br/>
    </div>
    <!--Bottom Bar-->
    <div class="bot">
    <hr>
        <a target="_blank" href="/about">About</a>
        |
        <a target="_blank" href="/tos">Terms-of-Service</a>
        |
        <a target="_blank" href="/privacy">Privacy</a><br/>
    </div>
</body>
</html>