
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Performance</title>
</head>
<body>
    <h2>Performance</h2>
    
    <h3>BATCH LEVEL Performance Comparisons (Average CGs)</h3>
    <a href="/performance">Click here for Branch-Wise Performance</a><br/><br/>
        <table>
        <tr><th>Rank</th><th>Batch</th><th>Batch Avg.CG</th></tr>
        
            <tr>
                <td>1</td>
                <td>COMPUTER SCIENCE AND ENGINEERING (BT13)</td>
                <td>7.84649484536</td>
            </tr>
		
            <tr>
                <td>2</td>
                <td>BA12</td>
                <td>7.74096774194</td>
            </tr>
		
            <tr>
                <td>3</td>
                <td>ARCHITECTURE (BA12)</td>
                <td>7.74096774194</td>
            </tr>
		
            <tr>
                <td>4</td>
                <td>BA13</td>
                <td>7.70457627119</td>
            </tr>
		
            <tr>
                <td>5</td>
                <td>ARCHITECTURE (BA13)</td>
                <td>7.70457627119</td>
            </tr>
		
            <tr>
                <td>6</td>
                <td>MECHANICAL ENGINEERING (BT13)</td>
                <td>7.52173469388</td>
            </tr>
		
            <tr>
                <td>7</td>
                <td>ELECTRICAL AND ELECTRONICS ENGINEERING (BT13)</td>
                <td>7.48114942529</td>
            </tr>
		
            <tr>
                <td>8</td>
                <td>BA11</td>
                <td>7.40841269841</td>
            </tr>
		
            <tr>
                <td>9</td>
                <td>ARCHITECTURE (BA11)</td>
                <td>7.40841269841</td>
            </tr>
		
            <tr>
                <td>10</td>
                <td>ELECTRONICS AND COMMUNICATION ENGINEERING (BT13)</td>
                <td>7.39043478261</td>
            </tr>
		
            <tr>
                <td>11</td>
                <td>ELECTRONICS AND COMMUNICATION ENGINEERING (BT12)</td>
                <td>7.3743877551</td>
            </tr>
		
            <tr>
                <td>12</td>
                <td>BT13</td>
                <td>7.34114583333</td>
            </tr>
		
            <tr>
                <td>13</td>
                <td>MECHANICAL ENGINEERING (BT11)</td>
                <td>7.32914893617</td>
            </tr>
		
            <tr>
                <td>14</td>
                <td>BA10</td>
                <td>7.30106060606</td>
            </tr>
		
            <tr>
                <td>15</td>
                <td>ARCHITECTURE (BA10)</td>
                <td>7.30106060606</td>
            </tr>
		
            <tr>
                <td>16</td>
                <td>CIVIL ENGINEERING (BT13)</td>
                <td>7.26818181818</td>
            </tr>
		
            <tr>
                <td>17</td>
                <td>ELECTRONICS AND COMMUNICATION ENGINEERING (All)</td>
                <td>7.23464135021</td>
            </tr>
		
            <tr>
                <td>18</td>
                <td>ELECTRICAL AND ELECTRONICS ENGINEERING (BT09)</td>
                <td>7.22358695652</td>
            </tr>
		
            <tr>
                <td>19</td>
                <td>MECHANICAL ENGINEERING (All)</td>
                <td>7.17392931393</td>
            </tr>
		
            <tr>
                <td>20</td>
                <td>ELECTRONICS AND COMMUNICATION ENGINEERING (BT10)</td>
                <td>7.17282828283</td>
            </tr>
		
            <tr>
                <td>21</td>
                <td>ELECTRONICS AND COMMUNICATION ENGINEERING (BT11)</td>
                <td>7.17215053763</td>
            </tr>
		
            <tr>
                <td>22</td>
                <td>CHEMICAL ENGINEERING (BT13)</td>
                <td>7.16747126437</td>
            </tr>
		
            <tr>
                <td>23</td>
                <td>ELECTRICAL AND ELECTRONICS ENGINEERING (All)</td>
                <td>7.15670212766</td>
            </tr>
		
            <tr>
                <td>24</td>
                <td>ELECTRICAL AND ELECTRONICS ENGINEERING (BT12)</td>
                <td>7.14757575758</td>
            </tr>
		
            <tr>
                <td>25</td>
                <td>CHEMICAL ENGINEERING (BT09)</td>
                <td>7.14704225352</td>
            </tr>
		
            <tr>
                <td>26</td>
                <td>CIVIL ENGINEERING (BT10)</td>
                <td>7.13021505376</td>
            </tr>
		
            <tr>
                <td>27</td>
                <td>CIVIL ENGINEERING (BT11)</td>
                <td>7.12010989011</td>
            </tr>
		
            <tr>
                <td>28</td>
                <td>BA09</td>
                <td>7.09777777778</td>
            </tr>
		
            <tr>
                <td>29</td>
                <td>ARCHITECTURE (BA09)</td>
                <td>7.09777777778</td>
            </tr>
		
            <tr>
                <td>30</td>
                <td>CIVIL ENGINEERING (BT09)</td>
                <td>7.08848837209</td>
            </tr>
		
            <tr>
                <td>31</td>
                <td>ELECTRONICS AND COMMUNICATION ENGINEERING (BT09)</td>
                <td>7.08043956044</td>
            </tr>
		
            <tr>
                <td>32</td>
                <td>CIVIL ENGINEERING (All)</td>
                <td>7.07200440529</td>
            </tr>
		
            <tr>
                <td>33</td>
                <td>COMPUTER SCIENCE AND ENGINEERING (BT12)</td>
                <td>7.06565656566</td>
            </tr>
		
            <tr>
                <td>34</td>
                <td>CHEMICAL ENGINEERING (BT10)</td>
                <td>7.06</td>
            </tr>
		
            <tr>
                <td>35</td>
                <td>ELECTRICAL AND ELECTRONICS ENGINEERING (BT10)</td>
                <td>7.05082474227</td>
            </tr>
		
            <tr>
                <td>36</td>
                <td>BT11</td>
                <td>7.05001540832</td>
            </tr>
		
            <tr>
                <td>37</td>
                <td>METALLURGICAL AND MATERIALS ENGINEERING (BT06)</td>
                <td>7.05</td>
            </tr>
		
            <tr>
                <td>38</td>
                <td>BT06</td>
                <td>7.05</td>
            </tr>
		
            <tr>
                <td>39</td>
                <td>MECHANICAL ENGINEERING (BT09)</td>
                <td>7.04930232558</td>
            </tr>
		
            <tr>
                <td>40</td>
                <td>MECHANICAL ENGINEERING (BT12)</td>
                <td>7.04929292929</td>
            </tr>
		
            <tr>
                <td>41</td>
                <td>COMPUTER SCIENCE AND ENGINEERING (All)</td>
                <td>7.03414376321</td>
            </tr>
		
            <tr>
                <td>42</td>
                <td>BT09</td>
                <td>7.02303754266</td>
            </tr>
		
            <tr>
                <td>43</td>
                <td>All</td>
                <td>7.01715865119</td>
            </tr>
		
            <tr>
                <td>44</td>
                <td>MECHANICAL ENGINEERING (BT10)</td>
                <td>7.00454545455</td>
            </tr>
		
            <tr>
                <td>45</td>
                <td>COMPUTER SCIENCE AND ENGINEERING (BT11)</td>
                <td>7.00393617021</td>
            </tr>
		
            <tr>
                <td>46</td>
                <td>CHEMICAL ENGINEERING (All)</td>
                <td>7.00388471178</td>
            </tr>
		
            <tr>
                <td>47</td>
                <td>CHEMICAL ENGINEERING (BT11)</td>
                <td>6.99088607595</td>
            </tr>
		
            <tr>
                <td>48</td>
                <td>ELECTRICAL AND ELECTRONICS ENGINEERING (BT11)</td>
                <td>6.98945054945</td>
            </tr>
		
            <tr>
                <td>49</td>
                <td>METALLURGICAL AND MATERIALS ENGINEERING (BT13)</td>
                <td>6.9873255814</td>
            </tr>
		
            <tr>
                <td>50</td>
                <td>BT12</td>
                <td>6.98578947368</td>
            </tr>
		
            <tr>
                <td>51</td>
                <td>BT10</td>
                <td>6.98256410256</td>
            </tr>
		
            <tr>
                <td>52</td>
                <td>METALLURGICAL AND MATERIALS ENGINEERING (BT09)</td>
                <td>6.97552238806</td>
            </tr>
		
            <tr>
                <td>53</td>
                <td>MINING ENGINEERING (BT11)</td>
                <td>6.95142857143</td>
            </tr>
		
            <tr>
                <td>54</td>
                <td>MINING ENGINEERING (BT10)</td>
                <td>6.94947368421</td>
            </tr>
		
            <tr>
                <td>55</td>
                <td>MINING ENGINEERING (BT09)</td>
                <td>6.855</td>
            </tr>
		
            <tr>
                <td>56</td>
                <td>METALLURGICAL AND MATERIALS ENGINEERING (All)</td>
                <td>6.85217171717</td>
            </tr>
		
            <tr>
                <td>57</td>
                <td>METALLURGICAL AND MATERIALS ENGINEERING (BT12)</td>
                <td>6.83447058824</td>
            </tr>
		
            <tr>
                <td>58</td>
                <td>METALLURGICAL AND MATERIALS ENGINEERING (BT10)</td>
                <td>6.80355263158</td>
            </tr>
		
            <tr>
                <td>59</td>
                <td>CIVIL ENGINEERING (BT12)</td>
                <td>6.79421052632</td>
            </tr>
		
            <tr>
                <td>60</td>
                <td>MINING ENGINEERING (All)</td>
                <td>6.71217741935</td>
            </tr>
		
            <tr>
                <td>61</td>
                <td>METALLURGICAL AND MATERIALS ENGINEERING (BT11)</td>
                <td>6.71202531646</td>
            </tr>
		
            <tr>
                <td>62</td>
                <td>CHEMICAL ENGINEERING (BT12)</td>
                <td>6.65425</td>
            </tr>
		
            <tr>
                <td>63</td>
                <td>COMPUTER SCIENCE AND ENGINEERING (BT10)</td>
                <td>6.64091836735</td>
            </tr>
		
            <tr>
                <td>64</td>
                <td>MINING ENGINEERING (BT12)</td>
                <td>6.61655172414</td>
            </tr>
		
            <tr>
                <td>65</td>
                <td>COMPUTER SCIENCE AND ENGINEERING (BT09)</td>
                <td>6.59530120482</td>
            </tr>
		
            <tr>
                <td>66</td>
                <td>ARCHITECTURE (All)</td>
                <td>6.5313832853</td>
            </tr>
		
            <tr>
                <td>67</td>
                <td>MINING ENGINEERING (BT13)</td>
                <td>6.49054054054</td>
            </tr>
		
            <tr>
                <td>68</td>
                <td>MECHANICAL ENGINEERING (BT08)</td>
                <td>5.5225</td>
            </tr>
		
            <tr>
                <td>69</td>
                <td>ELECTRICAL AND ELECTRONICS ENGINEERING (Snr)</td>
                <td>5.24</td>
            </tr>
		
            <tr>
                <td>70</td>
                <td>BT08</td>
                <td>5.18230769231</td>
            </tr>
		
            <tr>
                <td>71</td>
                <td>BT07</td>
                <td>5.17</td>
            </tr>
		
            <tr>
                <td>72</td>
                <td>ELECTRONICS AND COMMUNICATION ENGINEERING (BT07)</td>
                <td>5.17</td>
            </tr>
		
            <tr>
                <td>73</td>
                <td>ELECTRICAL AND ELECTRONICS ENGINEERING (BT08)</td>
                <td>5.13333333333</td>
            </tr>
		
            <tr>
                <td>74</td>
                <td>Snr</td>
                <td>5.085</td>
            </tr>
		
            <tr>
                <td>75</td>
                <td>MINING ENGINEERING (BT08)</td>
                <td>5.05</td>
            </tr>
		
            <tr>
                <td>76</td>
                <td>CIVIL ENGINEERING (BT08)</td>
                <td>4.99</td>
            </tr>
		
            <tr>
                <td>77</td>
                <td>COMPUTER SCIENCE AND ENGINEERING (BT08)</td>
                <td>4.975</td>
            </tr>
		
            <tr>
                <td>78</td>
                <td>METALLURGICAL AND MATERIALS ENGINEERING (BT08)</td>
                <td>4.945</td>
            </tr>
		
            <tr>
                <td>79</td>
                <td>MECHANICAL ENGINEERING (Snr)</td>
                <td>4.93</td>
            </tr>
		
            <tr>
                <td>80</td>
                <td>BA08</td>
                <td>0.0</td>
            </tr>
		
            <tr>
                <td>81</td>
                <td>ARCHITECTURE (BA08)</td>
                <td>0.0</td>
            </tr>
		
        </table><br/><br/>
    
</body>
</html>