
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Performance</title>
</head>
<body>
    <h2>Performance</h2>
    
    <h3>Department Performances (including First Years & Super Seniors)</h3>
    <a href="/performance?q=batchwise">Click here for Batch-Wise Performance</a><br/><br/>
        <table>
            <tr><th>Rank</th><th>Branch</th><th>Branch Avg.CG</th></tr>
			
            <tr><td>1.</td><td>ELECTRONICS AND COMMUNICATION ENGINEERING</td><td>7.23464135021</td></tr>
			
            <tr><td>2.</td><td>MECHANICAL ENGINEERING</td><td>7.17392931393</td></tr>
			
            <tr><td>3.</td><td>ELECTRICAL AND ELECTRONICS ENGINEERING</td><td>7.15670212766</td></tr>
			
            <tr><td>4.</td><td>CIVIL ENGINEERING</td><td>7.07200440529</td></tr>
			
            <tr><td>5.</td><td>COMPUTER SCIENCE AND ENGINEERING</td><td>7.03414376321</td></tr>
			
            <tr><td>6.</td><td>CHEMICAL ENGINEERING</td><td>7.00388471178</td></tr>
			
            <tr><td>7.</td><td>METALLURGICAL AND MATERIALS ENGINEERING</td><td>6.85217171717</td></tr>
			
            <tr><td>8.</td><td>MINING ENGINEERING</td><td>6.71217741935</td></tr>
			
            <tr><td>9.</td><td>ARCHITECTURE</td><td>6.5313832853</td></tr>
			
        </table>
    
</body>
</html>