{% extends "base.html" %}

{% block title %}Performance{% endblock %}

{% block content%}
    <h2>Performance</h2>
    
    <h3>BATCH LEVEL Performance Comparisons (Average CGs)</h3>
    <a href="/performance">Click here for Branch-Wise Performance</a><br><br>
        <table>
        <tr><th>Rank</th><th>Batch</th><th>Batch Avg.CG</th></tr>
        {% for dt in perfdata %}
            <tr>
                <td>{{ dt.0 }}</td>
                <td>{{ dt.1 }}</td>
                <td>{{ dt.2 }}</td>
            </tr>
		{% endfor %}
        </table><br><br>
{% endblock %}