{% extends "base.html" %}

{% block title %}Performance{% endblock %}

{% block content%}
    <h2>Performance</h2>
    
    <h3>Department Performances (including First Years & Super Seniors)</h3>
    <a href="/performance?q=batchwise">Click here for Batch-Wise Performance</a><br><br>
        <table>
            <tr><th>Rank</th><th>Branch</th><th>Branch Avg.CG</th></tr>
			{% for dt in perfdata %}
            <tr><td>{{ dt.0 }}.</td><td>{{ dt.1 }}</td><td>{{ dt.2 }}</td></tr>
			{% endfor %}
        </table>
{% endblock %}