<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Privacy</title>
</head>
<body>
    <h2>Privacy</h2>
    <div class="center">
    The data utilized is publicly available.<br/>
    Best possible measures are taken by me to preserve the privacy of everyone,<br/>
    at least much more than what the college does.<br/><br/>
    If you still have any what-so-ever objections, please report them to <a target="_blank" class="immo" href="https://www.facebook.com/ashishnitinpatil">!mmorta!</a><br/>
    </div>
</body>
</html>