{% extends "base.html" %}

{% block title %}Privacy{% endblock %}

{% block content%}
    <h2>Privacy</h2>
    <div>
    The data utilized is publicly available.<br>
    Best possible measures are taken by me to preserve the privacy of everyone,<br>
    at least much more than what the college does.<br><br>
    If you still have any what-so-ever objections, please <a target="_blank" class="immo" href="https://www.facebook.com/ashishnitinpatil">report them to me</a>.<br>
    </div>
{% endblock %}