
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Statistics</title>

</head>
<body>
            <h3>Statistics</h3><hr>
            <div class="left">
            Batch-wise
            <ul>
            
            <li><a href="/stats?batch=All&cumulative=0&percent=1">All</a></li>
            
            <li><a href="/stats?batch=BA08&cumulative=0&percent=1">BA08</a></li>
            
            <li><a href="/stats?batch=BA09&cumulative=0&percent=1">BA09</a></li>
            
            <li><a href="/stats?batch=BA10&cumulative=0&percent=1">BA10</a></li>
            
            <li><a href="/stats?batch=BA11&cumulative=0&percent=1">BA11</a></li>
            
            <li><a href="/stats?batch=BA12&cumulative=0&percent=1">BA12</a></li>
            
            <li><a href="/stats?batch=BA13&cumulative=0&percent=1">BA13</a></li>
            
            <li><a href="/stats?batch=BT06&cumulative=0&percent=1">BT06</a></li>
            
            <li><a href="/stats?batch=BT07&cumulative=0&percent=1">BT07</a></li>
            
            <li><a href="/stats?batch=BT08&cumulative=0&percent=1">BT08</a></li>
            
            <li><a href="/stats?batch=BT09&cumulative=0&percent=1">BT09</a></li>
            
            <li><a href="/stats?batch=BT10&cumulative=0&percent=1">BT10</a></li>
            
            <li><a href="/stats?batch=BT11&cumulative=0&percent=1">BT11</a></li>
            
            <li><a href="/stats?batch=BT12&cumulative=0&percent=1">BT12</a></li>
            
            <li><a href="/stats?batch=BT13&cumulative=0&percent=1">BT13</a></li>
            
            <li><a href="/stats?batch=Snr&cumulative=0&percent=1">Snr</a></li>
            
            </ul><hr>
            Department-wise
            <ol>
            
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&cumulative=0&percent=1">MECHANICAL ENGINEERING</a></li>
                <ul>
                
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&batch=BT08&cumulative=0&percent=1">BT08</a></li>
                
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&batch=BT09&cumulative=0&percent=1">BT09</a></li>
                
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&batch=BT10&cumulative=0&percent=1">BT10</a></li>
                
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&batch=BT11&cumulative=0&percent=1">BT11</a></li>
                
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&batch=BT12&cumulative=0&percent=1">BT12</a></li>
                
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&batch=BT13&cumulative=0&percent=1">BT13</a></li>
                
                <li><a href="/stats?branch=MECHANICAL ENGINEERING&batch=Snr&cumulative=0&percent=1">Snr</a></li>
                
                </ul>
            
                <li><a href="/stats?branch=MINING ENGINEERING&cumulative=0&percent=1">MINING ENGINEERING</a></li>
                <ul>
                
                <li><a href="/stats?branch=MINING ENGINEERING&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=MINING ENGINEERING&batch=BT08&cumulative=0&percent=1">BT08</a></li>
                
                <li><a href="/stats?branch=MINING ENGINEERING&batch=BT09&cumulative=0&percent=1">BT09</a></li>
                
                <li><a href="/stats?branch=MINING ENGINEERING&batch=BT10&cumulative=0&percent=1">BT10</a></li>
                
                <li><a href="/stats?branch=MINING ENGINEERING&batch=BT11&cumulative=0&percent=1">BT11</a></li>
                
                <li><a href="/stats?branch=MINING ENGINEERING&batch=BT12&cumulative=0&percent=1">BT12</a></li>
                
                <li><a href="/stats?branch=MINING ENGINEERING&batch=BT13&cumulative=0&percent=1">BT13</a></li>
                
                </ul>
            
                <li><a href="/stats?branch=ARCHITECTURE&cumulative=0&percent=1">ARCHITECTURE</a></li>
                <ul>
                
                <li><a href="/stats?branch=ARCHITECTURE&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=ARCHITECTURE&batch=BA08&cumulative=0&percent=1">BA08</a></li>
                
                <li><a href="/stats?branch=ARCHITECTURE&batch=BA09&cumulative=0&percent=1">BA09</a></li>
                
                <li><a href="/stats?branch=ARCHITECTURE&batch=BA10&cumulative=0&percent=1">BA10</a></li>
                
                <li><a href="/stats?branch=ARCHITECTURE&batch=BA11&cumulative=0&percent=1">BA11</a></li>
                
                <li><a href="/stats?branch=ARCHITECTURE&batch=BA12&cumulative=0&percent=1">BA12</a></li>
                
                <li><a href="/stats?branch=ARCHITECTURE&batch=BA13&cumulative=0&percent=1">BA13</a></li>
                
                </ul>
            
                <li><a href="/stats?branch=ELECTRONICS AND COMMUNICATION ENGINEERING&cumulative=0&percent=1">ELECTRONICS AND COMMUNICATION ENGINEERING</a></li>
                <ul>
                
                <li><a href="/stats?branch=ELECTRONICS AND COMMUNICATION ENGINEERING&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=ELECTRONICS AND COMMUNICATION ENGINEERING&batch=BT07&cumulative=0&percent=1">BT07</a></li>
                
                <li><a href="/stats?branch=ELECTRONICS AND COMMUNICATION ENGINEERING&batch=BT09&cumulative=0&percent=1">BT09</a></li>
                
                <li><a href="/stats?branch=ELECTRONICS AND COMMUNICATION ENGINEERING&batch=BT10&cumulative=0&percent=1">BT10</a></li>
                
                <li><a href="/stats?branch=ELECTRONICS AND COMMUNICATION ENGINEERING&batch=BT11&cumulative=0&percent=1">BT11</a></li>
                
                <li><a href="/stats?branch=ELECTRONICS AND COMMUNICATION ENGINEERING&batch=BT12&cumulative=0&percent=1">BT12</a></li>
                
                <li><a href="/stats?branch=ELECTRONICS AND COMMUNICATION ENGINEERING&batch=BT13&cumulative=0&percent=1">BT13</a></li>
                
                </ul>
            
                <li><a href="/stats?branch=CHEMICAL ENGINEERING&cumulative=0&percent=1">CHEMICAL ENGINEERING</a></li>
                <ul>
                
                <li><a href="/stats?branch=CHEMICAL ENGINEERING&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=CHEMICAL ENGINEERING&batch=BT09&cumulative=0&percent=1">BT09</a></li>
                
                <li><a href="/stats?branch=CHEMICAL ENGINEERING&batch=BT10&cumulative=0&percent=1">BT10</a></li>
                
                <li><a href="/stats?branch=CHEMICAL ENGINEERING&batch=BT11&cumulative=0&percent=1">BT11</a></li>
                
                <li><a href="/stats?branch=CHEMICAL ENGINEERING&batch=BT12&cumulative=0&percent=1">BT12</a></li>
                
                <li><a href="/stats?branch=CHEMICAL ENGINEERING&batch=BT13&cumulative=0&percent=1">BT13</a></li>
                
                </ul>
            
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&cumulative=0&percent=1">METALLURGICAL AND MATERIALS ENGINEERING</a></li>
                <ul>
                
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&batch=BT06&cumulative=0&percent=1">BT06</a></li>
                
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&batch=BT08&cumulative=0&percent=1">BT08</a></li>
                
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&batch=BT09&cumulative=0&percent=1">BT09</a></li>
                
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&batch=BT10&cumulative=0&percent=1">BT10</a></li>
                
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&batch=BT11&cumulative=0&percent=1">BT11</a></li>
                
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&batch=BT12&cumulative=0&percent=1">BT12</a></li>
                
                <li><a href="/stats?branch=METALLURGICAL AND MATERIALS ENGINEERING&batch=BT13&cumulative=0&percent=1">BT13</a></li>
                
                </ul>
            
                <li><a href="/stats?branch=COMPUTER SCIENCE AND ENGINEERING&cumulative=0&percent=1">COMPUTER SCIENCE AND ENGINEERING</a></li>
                <ul>
                
                <li><a href="/stats?branch=COMPUTER SCIENCE AND ENGINEERING&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=COMPUTER SCIENCE AND ENGINEERING&batch=BT08&cumulative=0&percent=1">BT08</a></li>
                
                <li><a href="/stats?branch=COMPUTER SCIENCE AND ENGINEERING&batch=BT09&cumulative=0&percent=1">BT09</a></li>
                
                <li><a href="/stats?branch=COMPUTER SCIENCE AND ENGINEERING&batch=BT10&cumulative=0&percent=1">BT10</a></li>
                
                <li><a href="/stats?branch=COMPUTER SCIENCE AND ENGINEERING&batch=BT11&cumulative=0&percent=1">BT11</a></li>
                
                <li><a href="/stats?branch=COMPUTER SCIENCE AND ENGINEERING&batch=BT12&cumulative=0&percent=1">BT12</a></li>
                
                <li><a href="/stats?branch=COMPUTER SCIENCE AND ENGINEERING&batch=BT13&cumulative=0&percent=1">BT13</a></li>
                
                </ul>
            
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&cumulative=0&percent=1">ELECTRICAL AND ELECTRONICS ENGINEERING</a></li>
                <ul>
                
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&batch=BT08&cumulative=0&percent=1">BT08</a></li>
                
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&batch=BT09&cumulative=0&percent=1">BT09</a></li>
                
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&batch=BT10&cumulative=0&percent=1">BT10</a></li>
                
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&batch=BT11&cumulative=0&percent=1">BT11</a></li>
                
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&batch=BT12&cumulative=0&percent=1">BT12</a></li>
                
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&batch=BT13&cumulative=0&percent=1">BT13</a></li>
                
                <li><a href="/stats?branch=ELECTRICAL AND ELECTRONICS ENGINEERING&batch=Snr&cumulative=0&percent=1">Snr</a></li>
                
                </ul>
            
                <li><a href="/stats?branch=CIVIL ENGINEERING&cumulative=0&percent=1">CIVIL ENGINEERING</a></li>
                <ul>
                
                <li><a href="/stats?branch=CIVIL ENGINEERING&batch=All&cumulative=0&percent=1">All</a></li>
                
                <li><a href="/stats?branch=CIVIL ENGINEERING&batch=BT08&cumulative=0&percent=1">BT08</a></li>
                
                <li><a href="/stats?branch=CIVIL ENGINEERING&batch=BT09&cumulative=0&percent=1">BT09</a></li>
                
                <li><a href="/stats?branch=CIVIL ENGINEERING&batch=BT10&cumulative=0&percent=1">BT10</a></li>
                
                <li><a href="/stats?branch=CIVIL ENGINEERING&batch=BT11&cumulative=0&percent=1">BT11</a></li>
                
                <li><a href="/stats?branch=CIVIL ENGINEERING&batch=BT12&cumulative=0&percent=1">BT12</a></li>
                
                <li><a href="/stats?branch=CIVIL ENGINEERING&batch=BT13&cumulative=0&percent=1">BT13</a></li>
                
                </ul>
            
            </ol>
            </div>
    
    <br/>
</body>
</html>