<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur." />
	<meta name="keywords" content="VNIT,Result,Analyser,Resanalyser,Nagpur,NIT,Statistics,Analysis,Analytics,Visvesvaraya National Institute of Technology" />

	<!--Google Analytics-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33241707-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!--End of Google Analytics script-->

	<meta name="twitter:site:id" content="@ashishnpatil">
	<meta name="twitter:creator" content="@ashishnpatil">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="ResAnalyser is a webapp for analysing results of VNIT, Nagpur.">

	<link rel="author" href="https://www.facebook.com/ashishnitinpatil">
	<link rel="publisher" href="https://www.facebook.com/ashishnitinpatil">
	<title>Individual Student Records & Analysis</title>
	{% if graph %}
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript">
		$(function () {
		
			var colors = Highcharts.getOptions().colors,
				categories = {{ terms|safe }},
				name = '{{ roll|safe }}',
				data = [ {% for term in term_data %}
							{
							y: {% if egp %}{{ term.egp }}{% else %}{{ term.sg }}{% endif %},
							color: colors[ {{ term.color }} ],
							drilldown: {
								name: '{{ term.name }}',
								categories: {{ term.courses|safe }},
								data: {{ term.data }},
								color: colors[ {{ term.color }} ]
										}
					}, {% endfor %}
					];
		
			function setChart(name, categories, data, color) {
				chart.xAxis[0].setCategories(categories, false);
				chart.series[0].remove(false);
				chart.addSeries({
					name: name,
					data: data,
					color: color || 'green'
				}, false);
				chart.redraw();
			}
		
			var chart = $('#container').highcharts({
				chart: {
					type: 'column'
				},
				title: {
					text: '{{ roll|safe }}'
				},
				subtitle: {
					text: 'Click the columns to view Course-wise grades. Click again to view Term-wise EGP.'
				},
				xAxis: {
					categories: categories
				},
				yAxis: {
					title: {
						text: 'Term-wise {% if egp %}EGPs{% else %}SGPAs{% endif %} / Course-wise grades'
					}
				},
				plotOptions: {
					column: {
						cursor: 'pointer',
						point: {
							events: {
								click: function() {
									var drilldown = this.drilldown;
									if (drilldown) { // drill down
										setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
									} else { // restore
										setChart(name, categories, data);
									}
								}
							}
						},
						dataLabels: {
							enabled: true,
							color: colors[0],
							style: {
								fontWeight: 'bold'
							},
							formatter: function() {
								return this.y;
							}
						}
					}
				},
				tooltip: {
					formatter: function() {
						var point = this.point,
							s = this.x +' : <b>'+ this.y +'</b><br/>';
						if (point.drilldown) {
							s += 'Click to view '+ point.category +' course-wise grades';
						} else {
							s += 'Click to return EGP Comparison';
						}
						return s;
					}
				},
				series: [{
					name: name,
					data: data,
					color: 'green'
				}],
				exporting: {
					enabled: true
				}
			})
			.highcharts(); // return chart
		});
	</script>
</head>
<body>
        <script src="/static/js/highcharts.js"></script>
        <script src="/static/js/modules/exporting.js"></script>

        <div id="container" style="min-width: 400px; width:100%; height: 400px; margin: 0 auto"></div>
		{% if egp %}
		<br/><a href="/student?roll={{roll}}&graph=1&egp=0">SGPA-wise</a>.
		{% else %}
		<br/><a href="/student?roll={{roll}}&graph=1&egp=1">EGP-wise</a>.
		{% endif %}
		<br/><br/><font color="red">Do NOT misuse following info. For all you know, it may be wrong!</font>
		<br/>Ranking (according to current CGPA) for {{ roll}}
		<br/>Batch Rank - {{ ranks.batch_dept.0 }} / {{ ranks.batch_dept.1 }}
		<br/>Department Rank - {{ ranks.dept.0 }} / {{ ranks.dept.1 }}
		<br/>Batch Rank (all departments)- {{ ranks.batch_insti.0 }} / {{ ranks.batch_insti.1 }}
		<br/>Institute Ranking - {{ ranks.insti.0 }} / {{ ranks.insti.1 }}
		<br/><br/><a href="/student?roll={{roll}}&graph=0">Click here</a> for data.<br/>
    {% else %}
</head>
<body>
		<h3>Individual Student Records & Analysis</h3>
		{% if not data %}
		Enter your Roll No. to fetch Records & Analyse it.<br/>e.g. BT11CIV001, S001, BA10ARC001, etc<br/>
		<form method="post"><input autofocus type="text" name="roll" value="" placeholder="Roll No" />
		<input type="submit" value="Fetch" /><br/>
		{% if not present %}<span class="error">Incorrect Roll No</span>{% endif %}
		</form>
		{% else %}
        <a href="/student?roll={{roll}}&graph=1">Click here</a> for graph.<br/>
		{% for key,value in data.items %}
        {{ key }} -- {{ value }}<br/>
        {% endfor %}
		{% endif %}
    {% endif %}
    <br/>
</body>
</html>