{% extends "base.html" %}

{% block title %}Terms Of Service{% endblock %}

{% block content %}
    <h2>Terms of Service</h2>
    <div>
	<p>
    <span class="highlight">I can NOT be held responsible for ANY flaws, errors or any other, as such discrepancies!</span><br>
	The presented data is by far, accurate.<br>
    If you find any discrepancies please report the same.<br>
    You may use the result analysis in whatever way you find useful<br>
    (I urge you to respect privacy of other people though).<br></p>
    <p>The data utilized is publicly available & best possible measures are taken by me<br>
    to preserve the privacy of everyone, at least much more than what the college does.<br>
    If you still have any what-so-ever objections, please <a target="_blank" class="immo" href="https://www.facebook.com/ashishnitinpatil">report them to me</a>.<br>
	</p></div>
{% endblock %}