<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="ResAnalyser is a website for analysing results of VNIT, Nagpur." />
<meta name="keywords" content="Result,VNIT,Analyser,Nagpur,NIT,Resanalyser" />
<meta http-equiv="cache-control" content="no-store" />
<meta http-equiv="content-language" content="en-US" />
<title>Marklist Generation & Analysis</title>
<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
<!--Google Analytics-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33241707-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!--End of Google Analytics script-->
</head>
<body>
    <h3>Marklist Generation & Analysis</h3>
    {% if data %}
    <div class="data">
    {% for each in data %}
    <br/>>> {{ each }}
    {% endfor %}
    </div>
    {% else %}
    <form method="post">
    <table>
        <tr>
            <td>Customize your Marklist, then hit submit to generate & analyze it!</td>
        </tr>
        <tr><br/></tr>
        <tr>
            <td><input type="checkbox" name="serial" id="serial"></input>Course Serial</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="terms" id="terms"></input>Course Terms in Database</td>
        </tr>
    </table>
    <input type="submit" value="Submit"></input>
    </form>
    {% endif %}
</body>